<%# assumes @collection %>
<%= form_for @collection, remote: true, html: { class: 'form-active-fields', data: { saved: Time.now.strftime( '%H:%M:%S' ) } } do |f| %>
  <%= f.hidden_field :configuration %>
  <% @collection.configuration.each { |k, v| %>
    <%= render partial: 'collection_fields/config_field', object: CollectionField.find_by_name( k ), locals: { value: v } %>
  <% } %>

  <div class="form-group form-add-field">
    <h3 class="h4">Add a Field</h3>

    <%= label_tag 'collection_field', 'Available fields' %>
    <div class="form-inline">
      <%= select_tag 'collection_field', options_from_collection_for_select( @collection_fields, 'name', 'display_name' ), include_blank: true, class: 'form-control' %>

      <%= button_tag 'Add', type: 'button', class: 'btn btn-info' %>
    </div>
  </div>

  <%= button_tag 'Create a New Field', type: 'button', class: 'btn btn-default btn-new-field' %>
<% end %>
