<% provide :title, 'Configure Collection' %>

<div class="container-fluid container-show-item"> 
  <div class="row">
    <div class="col-sm-4 col-md-2 col-lg-2 col-info">
      <h2 class="h3 page-header">Collection</h2>

      <%= render partial: 'collections/thumbnail', object: @collection %>

      <div class="alert alert-warning">
        When you are happy with the configuration of this collection to the right, click the button below to update all the records. This process can take a while depending on the size of your collection and the collection cannot be reconfigured until it has finished.
      </div>

      <%= form_for @collection, method: :post, url: reconfigure_collection_path do |f| %>
        <%= f.button render( partial: 'shared/mini_icon', object: 'admin', locals: { icon_title: 'Update' } ), type: 'submit', class: 'btn btn-warning' %>
      <% end %>
    </div>

    <div class="col-sm-8 col-md-10 col-lg-10">
      <h2 class="h3 page-header">Configure Collection<small><a href="javascript:void(0);">Click for instructions</a></small></h2>
    
      <div class="row">
        <div class="col-sm-6 hidden-xs">

          <h2 class="h4 page-header">Sample Record</h2>

          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <input type="search" id="sample_work_filter" class="form-control" placeholder="Choose by original file name or metadata value">
              </div>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary">Search</button>
            </div>
          </div>

          <%= render partial: 'works/original', object: @sample_work %>
        </div>

        <div class="col-sm-6 col-active-fields hidden-xs">
          <div class="alert alert-success hidden">
            Saved <span class="active-fields-save-date"></span>
          </div>

          <h2 class="h4 page-header">Active Fields</h2>

          <div class="panel-configure">
            <%= render partial: 'collections/form_active_fields' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

