<% provide :title, 'Import Collection' %>
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="h2 page-header">Collection Importer <small><a href="javascript:void(0);">Click for instructions</a></small></h1>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 visible-xs">
      <div class="alert alert-info">
        <p>Please increase the size of your browser window or use a larger device to import collections. Thank you.</p>
      </div>
    </div>

    <%= semantic_form_for @collection, html: { multipart: true } do |f| %>

      <%= f.semantic_errors :collection %>

      <div class="col-sm-12 hidden-xs">
        <h2 class="h4 page-header">General Information</h2>

        <%= f.inputs { %>
          <%= f.input :approved, label: raw( '<b>Public</b> (uncheck to hide this collection from other users)' )  %>

          <%= f.input :name, placeholder: 'Choose a name for your collection', label: 'Collection Name' %>

          <%= f.input :description, as: :text, placeholder: 'Write a description for your collection. It can be pretty long.', label: 'Collection Description', input_html: { rows: 8 } %>

          <%= f.input :source, placeholder: 'Identify the provider of this collection', label: 'Collection Provider' %>

          <%= f.input :file, as: :file, label: 'ZIP of Collection JSON Files' %>

          <%= f.input :configuration, as: :hidden, input_html: { value: '{}' } %>
        <% } %>

        <%= f.actions { %>
          <%= f.action :submit, as: 'button', button_html: { class: 'btn btn-default btn-info pull-right' } %>
        <% } %>
      </div>

    <% end %>
  </div>
</div>
