<script>
	$(document).ready(function(){
		//visualizations.treemap();
	})
</script>

<section id='collection_canvas'>
	<h1><%= @collection.name %></h1>
	<p><%= @collection.description %></p>
	<p><%= @collection.records.length %></p>
	
	<div class='query_builder'>
		<div class='dropper_wrapper'>
			<div class='query_wrapper'>
				<h2 class='query_title'>include</h2>
				<div id='query_include'></div>
			</div>
			<div class='query_wrapper'>
				<h2 class='query_title'>exclude</h2>
				<div id='query_exclude'></div>
			</div>
		</div>
		<div id='properties_menu'>
			<div id='properties_header'>
					<% @collection.properties.each do |property, values| %>
					<% if ['thumbnail','image'].include? property
						next
					end%>
					<a href='#<%=property%>_list'><%=property%></a>
					<% end %>
					<br>
					<label for='filter'>filter</label>
					<input id='filter'>
				</div>
			<div id='collection_properties'>
			<% @collection.properties.each do |property, values| %>
				<% if ['thumbnail','image'].include? property
					next
				end%>
				<div id='<%=property%>_list' class='property_wrapper' data-property='<%property%>'>
					<ul  class='property_list'>
					<% values.each do |value, count| %>
						<li><%= value %> (<%=count%>)</li>
					<% end %>
					</ul>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</section>


<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @collection.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @collection.approved %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @collection.configuration %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>-->
