<script>
	$(document).ready(function(){
		window.collection.show();
		window.collection.query_builder();
		
		$('#query_builder form select').change(function(e){
			e.preventDefault();
			window.collection.query.visualization = $(this).val();
		});
		
		$('.property_link').click(function(e){
			window.collection.query.property = $(this).html();
		});
		
		$('#collection_header select').change(function(e){
			location = $(this).val();
		});
		
		$('#query_builder form').submit(function(e){
			e.preventDefault();
			window.collection.generate_visualization();
		});
	})
</script>
<section id='collection_pages'>
	<div id='collection_information'>
		<h2><%= title @collection.name %></h2>
		<br>
		<p><%= @collection.description %></p>
	</div>
	<div id='collection_highlights'>
		<% (1..80).each do |n| %>
			<% @record = Record.offset(rand(Record.count)).first %>
			<%= render 'records/thumb', locals: {record: @record} %>
		<% end %>
	</div>
	<div id='query_builder'>
		<div class='dropper_wrapper'>
			<div class='query_wrapper'>
				<h2 class='query_title'>include</h2>
				<div id='query_include'></div>
			</div>
			<div class='query_wrapper'>
				<h2 class='query_title'>exclude</h2>
				<div id='query_exclude'></div>
			</div>
		</div>
		<div id='properties_menu'>
			<div id='properties_header'>
				<% @collection.properties.each do |property, values| %>
				<% if ['thumbnail','image'].include? property
					next
				end%>
				<a id='<%=property%>_list' class='property_link'><%=property%></a>
				<% end %>
				<br>
				<label for='filter'>filter</label>
				<input id='filter'>
			</div>
			<div id='collection_properties'>
				<div id='property_list' class='property_wrapper'>
					<ul  class='property_list' data-property=''>
					
					</ul>
				</div>
			</div>
		</div>
		<div id='visualization_options'>
			<form>
				<label for='record_count'>Records:</label>
				<input id='record_count' type="number" value='<%= @collection.records.length %>' readonly>
				<select id='vizualization_mode'>
					<option selected disabled>Choose Vizualization</option>
					<option value='treemap'>Treemap</option>
					<option value='thumbnail'>Thumbnail</option>
				</select>
				<input type='submit' value='generate visualization'>
			</form>
		</div>
	</div>
</section>