<script>
	$(document).ready(function(){
		window.collection.query_builder();
		$('form').submit(function(e){
			e.preventDefault();
			window.visualization.treemap();
		});
	})
</script>

<section id='collection_canvas'>
	<h1><%= @collection.name %></h1>
	<p><%= @collection.description %></p>
	<div class='query_builder'>
		<div class='dropper_wrapper'>
			<div class='query_wrapper'>
				<h2 class='query_title'>include</h2>
				<div id='query_include'></div>
			</div>
			<div class='query_wrapper'>
				<h2 class='query_title'>exclude</h2>
				<div id='query_exclude'></div>
			</div>
		</div>
		<div id='properties_menu'>
			<div id='properties_header'>
					<% @collection.properties.each do |property, values| %>
					<% if ['thumbnail','image'].include? property
						next
					end%>
					<a href='#<%=property%>_list'><%=property%></a>
					<% end %>
					<br>
					<label for='filter'>filter</label>
					<input id='filter'>
				</div>
			<div id='collection_properties'>
			<% @collection.properties.each do |property, values| %>
				<% if ['thumbnail','image'].include? property
					next
				end%>
				<div id='<%=property%>_list' class='property_wrapper'>
					<ul  class='property_list' data-property='<%=property%>'>
					<% values.each do |value, count| %>
						<li data-value='<%=value%>'><%= value %> (<%=count%>)</li>
					<% end %>
					</ul>
				</div>
			<% end %>
			</div>
		</div>
		<div id='visualization_options'>
			<form>
				<label for='record_count'>Records:</label>
				<input id='record_count' type="number" value='<%= @collection.records.length %>' readonly>
				<select id='vizualization_mode'>
					<option selected disabled>Choose Vizualization</option>
					<option value='treemap'>Treemap</option>
				</select>
				<input type='submit' value='generate visualization'>
			</form>
		</div>
	</div>
</section>


<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @collection.key %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @collection.approved %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @collection.configuration %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>-->
