<% provide :title, @collection.name %>
<div class="container container-show-item">

  <% if @collection.importing %>
    <div class="row">
      <div class="col-sm-12">
        <p class="alert alert-info">This collection is currently importing, <%= @collection.import_queue_count %> records remain</p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 col-info">
      <h2 class="h4 page-header">Collection</h2>
        <%= render partial: 'collections/thumbnail', object: @collection %>

        <div class="list-group">

          <% if authenticated? && @collection.admins.include?( @current_user ) %>

            <%= form_for @collection, method: 'delete' do |f| %>
              <%= f.button render( partial: 'shared/mini_icon', object: 'close', locals: { icon_title: 'Delete Collection' } ), type: 'submit', class: 'list-group-item list-group-item-danger' %>
            <% end %>

            <%= render partial: 'shared/mini_icon_item', object: 'annotate', locals: { icon_title: 'Edit/Privacy', url: edit_collection_path( @collection ) } %>
          <% end %>

          <%= render partial: 'shared/mini_icon_item', object: 'spotlight', locals: { icon_title: 'Associated Spotlights', url: spotlights_path } %>
          <%= render partial: 'shared/mini_icon_item', object: 'explore', locals: { url: collection_works_path( @collection ) } %>

        </div>
    </div>

    <div class="col-sm-8 col-md-6 col-lg-7 col-detail">
      <h2 class="h4 page-header"><%= @collection.name %></h2>

      <p><%= @collection.description %></p>

      <h2 class="h4 page-header">At a Glance</h2>

      <%= render partial: 'shared/gallery', object: @all, locals: { col_classes: 'col-xs-6 col-sm-6 col-md-6 col-lg-4' } %>

      <h2 class="h4 page-header">Spotlights</h2>

    </div>

    <div class="col-sm-2 col-md-3 col-activity hidden-sm">
      <h2 class="h4 page-header">Latest Activity</h2>
    </div>

</div>
