<nav id="secondary_nav">
	<ul>
		<li>
			<%= link_to 'EXPLORE', collection_visualizations_path(@collection)%>
		</li>
	</ul>
</nav>
<section id='collection_pages'>
	<div id='collection_information'>
		<h2><%= title @collection.name %></h2>
		<br>
		<p>
			<%= @collection.description %>
		</p>
	</div>
	<div id='collection_highlights'>
		<% @spotlights.each_with_index do |spotlight, i| %>
		<% size = 'big'%>
		<% if i > 1
        size = 'small'
      end %>
		<a class='spotlight_preview <%= size%>' href='<%= spotlight_path spotlight%>' target='_blank'> <% image_background = "" %>
		<% spotlight.components.each do |component| %>
		<% if component['type'] == 'record' %>
		<% image_background = component['image'] %>
		<% break %>
		<% end %>
		<% end %> <div class='spotlight_image' style="background-image: url('<%= image_background %>');">

		</div> <h3><%= spotlight.title %></h3>
		<p>
			<% text = spotlight.body %>
			<% if text.match /\<(\d)\>/ %>
			<%= truncate(text.gsub!(/\<(\d)\>/, "(see figure \\1)"), length: 256) %>
			<% else %>
			<%= truncate(text, length: 256) %>
			<% end %>
		</p> </a>
		<% end %>
	</div>
</section>