<script>
	$(document).ready(function(){
		window.collection.show();
		
		$('input#filter').val('');
		
		$('select').prop('selectedIndex', 0);
		
		$('#visualization_type').change(function(e){
			e.preventDefault();
			window.collection.query.type = $(this).val();
		});
		
		$('#visualization_property').change(function(e){
			e.preventDefault();
			window.collection.query.property = $(this).val();
		});
		
		$('#generate_visualization').submit(function(e){
			e.preventDefault();
			
			if($('#visualization_mode').val()===null || $('#visualization_property').val()===null){
				alert('please select visualization mode and property')
			} else {
				window.collection.generate_visualization();				
			}
			
		});
		
		
		$('#filter').keyup(function(e){
			var compare = $(this).val().toLowerCase();
			var l = compare.length;
			if(l>1){
				$('#property_list .property_list li').each(function(e) {
					if( $(this).data('value').toLowerCase().indexOf(compare) > -1 ){
						$(this).show();
					} else {
						$(this).hide();
					}
				});				
			}
			
		});
		
	});
</script>
<section id='collection_pages'>
	<div id='collection_information'>
		<h2><%= title @collection.name %></h2>
		<br>
		<p><%= @collection.description %></p>
	</div>
	<div id='collection_highlights'>
    <% @records = @collection.records.count > 80 ? @collection.records.offset(rand((@collection.size).to_i-80)).take(80) : @collection.records %>
		<% @records.each_with_index do |r, i|%>
			<% @record = r %>	
			<%= render 'records/thumb', locals: {record: @record} %>
		<% end %>
	</div>
	<div id='query_builder'>
		<div class='dropper_wrapper'>
			<div class='query_wrapper'>
				<h2 class='query_title'>include</h2>
				<div id='query_include'></div>
			</div>
			<div class='query_wrapper'>
				<h2 class='query_title'>exclude</h2>
				<div id='query_exclude'></div>
			</div>
		</div>
		<div id='visualization_options'>
			<form id='generate_visualization' >
				<label for='record_count'>Selected Records:</label>
				<input id='record_count' type="number" value='<%= (@collection.size).to_i %>' readonly>
				<br>
				<label for='visualization_type'>Visualization Type:</label>
				<select id='visualization_type'>
					<option selected disabled>Choose Visualization</option>
					<option value='treemap'>Treemap</option>
					<option value='thumbnail'>Thumbnail</option>
				</select>
				<br>
				<label for='visualization_property'>Visualization Property:</label>
				<select id='visualization_property'>
					<option selected disabled>Choose Proprety</option>
					<% @collection.properties.each do |property, values| %>
						<% if ['thumbnail','image'].include? property
							next
						end%>
						<option value='<%= property %>'><%= property %></option>
				
					<% end %>
				</select>
				<br>
				<input type='submit' value='generate visualization'>
			</form>
		</div>
		<div id='properties_menu'>
			<div id='properties_header'>
				<label for='properties_header'>Browse collection tags:</label>
				<br>				
				<% @collection.properties.each do |property, values| %>
				<% if ['thumbnail','image'].include? property
					next
				end%>
				<a id='<%=property%>_list' class='property_link'><%=property%></a>
				<% end %>
				<br>
				<label for='filter'>filter</label>
				<input id='filter'>
			</div>
			<div id='collection_properties'>
				<div id='property_list' class='property_wrapper'>
					<ul  class='property_list' data-property=''>
					
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
