<!-- BEGIN ABOUT CONTENT -->	
<div class="about_content">
	<!-- left content -->
    <div class="left"><div class="holder col-sidebar">
    	<div class="titlebar main"><%= image_tag "collection_r.png", alt: '' %>Collection</div>
		<div class="profile_img" style="background: url('<%= @collection.works.first.thumbnail_cache_url unless @collection.works.first.nil? %>') no-repeat center center; background-size: cover;">&nbsp;</div>   
       <div class="stalking_menu_holder">
        	<div class="stalking_menu">
        	<div><%= image_tag "follow_r.png", alt: '' %> Follow this collection</div>
        	<div class="to_spot"><%= image_tag "spotlight_r.png", alt: '' %> Associated spotlights</div>
        	<div><%= image_tag "explore_r.png", alt: '' %> <%= link_to "Explore", collection_works_path(@collection) %></div>
        	</div>
        </div> 
    </div></div><!-- end left content -->
    
    <!-- middle content -->
    <div class="expandable"><div class="holder">
			<!-- ABOUT CONTENT -->
		<div class="titlebar to_about"><%= @collection.name %></div>
		<div class="cont_about">
			<%= @collection.description %>
		</div>
   		
   		<!-- COLLECTION CONTENT -->
    	<div class="titlebar to_spot">At a glance </div>
		<div class="cont_spotlight">
		<!--The new thing goes here-->
		<% @all.each do |item| %>
	    <%= render :partial => 'shared/print_item', :locals=>{:item=>item} %>
		<% end %>

			</div><!-- end cont_spotlight --> 
    </div></div><!-- end middle content -->

	<!-- right content -->
     <div class="right"><div class="holder latest-activity">
     		<div class="titlebar">Latest Activity</div>

     			<!-- an activity -->
				<table class="activity_holder"><tr>
				<td  class="date">
          <%= @collection.created_at.strftime '%d.%m.%y' %>&nbsp; - <%= image_tag "collection_r.png", alt: '' %>
          </td><td  class="activity">
          <%= User.find( @collection.admin[0] ).name %> created this collection
				</td></tr></table>
     			<!-- an activity -->
     </div></div><!-- end right content -->
     
</div><!-- END ABOUT CONTENT -->	

<!-- BEGIN GALLERY -->	

