<!-- BEGIN ABOUT CONTENT -->	
<div class="about_content">
	<!-- left content -->
  <div class="left"><div class="holder col-sidebar">
    <div class="titlebar main"><%= render partial: 'shared/mini_icon', object: 'collection' %></div>
		<div class="profile_img" style="background: url('<%= thumb_work_path(@collection.works.first) unless @collection.works.first.nil? %>') no-repeat center center; background-size: cover;">&nbsp;</div>   
       <div class="stalking_menu_holder">
        	<div class="stalking_menu">
            <ul>
              <% if authenticated? %>
                <% if @collection.admin[0] == @current_user.id %>
                <li><%= link_to render( partial: 'shared/mini_icon', object: 'annotate', locals: { icon_title: 'Edit Description' } ), edit_collection_path( @collection ), class: 'edit-collection' %></li>
                <% end %>
              <% end %>
              <li><%#= link_to render( partial: 'shared/mini_icon', object: 'follow' ), '#' %></li>
              <li><%= link_to render( partial: 'shared/mini_icon', object: 'spotlight', locals: { icon_title: 'Associated spotlights' } ), spotlights_path %></li>
              <li><%= link_to render( partial: 'shared/mini_icon', object: 'explore' ), collection_works_path( @collection ) %></li>
            </ul>
        	</div>
        </div> 
    </div></div><!-- end left content -->
    
    <!-- middle content -->
    <div class="expandable"><div class="holder">
			<!-- ABOUT CONTENT -->
		<div class="titlebar to_about"><%= @collection.name %></div>
		<div class="cont_about">
			<%= @collection.description %>
		</div>
   		
   		<!-- COLLECTION CONTENT -->
    	<div class="titlebar to_spot">At a glance</div>
		<div class="GALLERY">
		<!--The new thing goes here-->
		<% @all.each do |item| %>
	    <%= render :partial => 'shared/print_item', :locals=>{:item=>item} %>
		<% end %>

			</div><!-- end GALLERY --> 
    </div></div><!-- end middle content -->

	<!-- right content -->
     <div class="right"><div class="holder latest-activity">
     		<div class="titlebar">Latest Activity</div>

     			<!-- an activity -->
				<table class="activity_holder"><tr>
				<td  class="date">
          <%= @collection.created_at.strftime '%d.%m.%y' %>&nbsp; - <%= render partial: 'shared/mini_icon', object: 'collection', locals: { icon_title: nil } %>
          </td><td  class="activity">
          <%= User.find( @collection.admin[0] ).name %> created this collection
				</td></tr></table>
     			<!-- an activity -->
     </div></div><!-- end right content -->    
</div><!-- END ABOUT CONTENT -->	

<!-- BEGIN GALLERY -->	


