<h1 style='color:#D2232A; text-align: center;font-size: 72pt'> COMING SOON! </h1>
<!--
<div id='user_sign_in'>
	<% if flash[:alert] %>
	<p id="title" class='error'>
		<%= flash[:alert] %>
	</p>
	<% else %>
	<p id="title">
		Please Log In
	</p>
	<% end %>
	<%= form_tag do %>
	<fieldset>
		<div>
			<%= label_tag :email, 'Email:' %>
			<%= text_field_tag :email, params[:email] %>
		</div>
		<div>
			<%= label_tag :password, 'Password:' %>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div>
			<%= submit_tag "Login" %>
		</div>
	</fieldset>
	<% end %>
	<p class='new_user'>new user? <%= link_to 'sign up', controller:'users', action: 'new'%>
</div>
-->