<div id='user_sign_in'>
	<% if flash[:alert] %>
	<p id="title" class='error'>
		<%= flash[:alert] %>
	</p>
	<% end %>
	
</div>

<!-- BEGIN INFO BAR -->	
<div class="INFO_BAR">
    <div class="left shifter">
      <%= image_tag "animated_icon.gif", id: "hint_orig", alt: '' %>
      <%= image_tag "hint_collection.png", id: "hint_coll", alt: '' %>
      <%= image_tag "hint_spotlight.png", id: "hint_spot", alt: '' %>
      <%= image_tag "hint_explore.png", id: "hint_expl", alt: '' %>
      <%= image_tag "hint_user.png", id: "hint_user", alt: '' %>
    </div>
    <div class="expandable">
      <div class="info_text">
        <div class="hintbar_desc">
          <h1>Member Login</h1>

          <p class='switch'>Not a member? <%= link_to 'Sign up!', new_user_path %></p>
        </div>
        
        <div id="hintbar_links" class="login">
          <%= form_tag do %>
            <div class="login_signup">
              <div>
                <%= label_tag :email, 'email:' %>
                <%= text_field_tag :email, params[:email], placeholder: 'email' %>

                <%= label_tag :password, 'password:' %>
                <%= password_field_tag :password, params[:password], placeholder: 'password' %>
              </div>

              <div>
                <%= button_tag 'login', type: 'submit', class: 'login-button' %>
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
 
</div><!-- END INFO BAR -->	
