<%# require 'works_helper' %>

<h1 class="collection-header">Tray Manager</h1>

<%= form_for Tray.new, url: { action: 'create' } { |f| %>
  <%= f.hidden_field :owner_id, value: @owner.id %>
  <%= f.hidden_field :owner_type, value: 'User' %>
  <%= f.text_field :name, placeholder: 'Create New Tray' %>
  <%= f.button 'create', type: 'submit', name: nil %>
<% } %>

<!-- BEGIN GALLERY -->	     
<div class="GALLERY">

  <% @trays.each { |tray| %>
    <h2 class="titlebar"><%= tray.name %></h2>

    <%= link_to render( partial: 'trays/tray_preview', object: tray ), user_tray_path( tray.owner, tray ), class: 'tray-preview' %>
  <% } %>

</div>
<!-- END GALLERY -->  
