<h1 class="collection-header">Tray Manager</h1>

<%= form_for [ @owner, Tray.new ], url: x_trays_path( @owner ), method: :post do |f| %>
  <%= f.hidden_field :owner_id, value: @owner.id %>
  <%= f.hidden_field :owner_type, value: @owner.class.name %>
  <%= f.text_field :name, placeholder: 'Create New Tray' %>
  <%= f.button 'create', type: 'submit', name: nil %>
<% end %>

<%= render partial: 'trays/tray_preview_gallery', object: @trays %>
