<% path = path || [] %>
<% is_array_val = is_array_val || false %>
<% if is_array_val %>
  <a href="#" class="list-group-item btn btn-default" draggable="true" data-path="<%= (path + [k]).to_json %>"><%= v %></a>
<% else %>
  <a href="#" class="list-group-item btn btn-default" draggable="true" data-path="<%= (path + [k]).to_json %>"><b><%= k %></b> | <%= v %></a>
<% end %>
