<% depth = depth || 0 %>
<% json = original.is_a?( Work ) ? JSON.parse( original.original ) : original %>

<% json.each_pair { |k, v| %>
  <% if v.is_a? Hash %>
    <div class="row">
      <div class="col-sm-12">
        <b><%= k %></b>
        <%= render partial: 'works/original', object: v %>
      </div>
    </div>
  <% elsif v.is_a? Array %>
    <div class="row">
      <div class="col-sm-12">
        <b><%= k %></b>
        <% v.each { |i| %>
          <%= render partial: 'works/original', object: i %>
        <% } %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'works/original_item', locals: { k: k, v: v } %>
  <% end %>
<% } %>
