<div class="work-canvas" style="background-image: url(<%= @image.image_url %>);"></div>
<div class="container-fluid">
  <div class="row">
    <p><a href="javascript:void(0);">Click for instructions</a></p>
  </div>

  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">
      <ul class="nav nav-pills nav-stacked nav-works">
        <li><a href="#" data-panel="metadata"><%= render partial: 'shared/mini_icon', object: 'parsed', locals: { icon_title: nil } %></a></li>
        <li><a href="#" data-panel="surrogates"><%= render partial: 'shared/mini_icon', object: 'surrogate', locals: { icon_title: nil } %></a></li>
        <li><a href="#" data-panel="trays"><%= render partial: 'shared/mini_icon', object: 'tray', locals: { icon_title: nil } %></a></li>

        <% if authenticated? && @work.collection.admins.include?( current_user ) %>
        <li><a href="#" data-panel="admin"><%= render partial: 'shared/mini_icon', object: 'user', locals: { icon_title: nil } %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-6 col-md-5 col-lg-3 col-works-panels">
      <div id="panel-metadata" class="panel panel-default">
        <div class="panel-heading">Metadata</div>
        <div class="panel-body">
          <dl>
            <% @work.parsed.each { |k, v| %>
              <dt><%= k %></dt>
              <dd><%= v %></dd>
            <% } %>
          </dl>
        </div>
      </div>

      <div id="panel-surrogates" class="panel panel-default">
        <div class="panel-heading">Surrogates</div>
        <div class="panel-body">
          <% @work.images.each_with_index { |image, i| %>
            <%= link_to image_tag( "#{image.thumbnail_url}?width=150&height=150", alt: '' ), work_surrogate_path( @work, i ), class: 'thumbnail' %>
          <% } %>
        </div>
      </div>

      <div id="panel-trays" class="panel panel-default">
        <div class="panel-heading">Your Trays</div>
        <div class="panel-body">
          <div class="trays-container">
            <% if authenticated? %>
              <%= render template: 'trays/popup', layout: false %>
            <% else %>
              <%= login_link 'Log in' %>
            <% end %>
          </div>
        </div>
      </div>

      <% if authenticated? && @work.collection.admins.include?( current_user ) %>
      <div id="panel-admin" class="panel panel-default">
        <div class="panel-heading">Admin</div>
        <div class="panel-body">
          <dl>
            <dt>Collection</dt>
            <dd><%= @work.collection.name %></dd>

            <%= render partial: 'works/cover_form', object: @work %>
          </dl>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--
<div class="SUB_MENU bubble_menu">
  <table class="works_info">


    <tr class="anno_box">
      <td class="anno_button">
        <div class="menu_piecea">
          <label for='ann_id'><span class="button" title="Annotations" data-intro="Click to view annotations. Note: You need to be logged in." data-start="4">A</span></label>
        </div>
      </td>
      <td class="annotation_info">
        <input type='radio' class='checkbox_hack' id = 'ann_id' name="recordoption">
        <div class="expand_anno">
          <div id='annotations'>

            <% if authenticated? %>
              <h4 class='window_header'>ANNOTATE IMAGE</h4>
              <div class='window_body'>
                <div id='preview_window'></div>
                <input id="hide_anno" name="HideAnno" type="checkbox" value="Hide Annotations" checked><label for="HideAnno" id="hide-an">Show Annotations</label>
                <%= link_to "Go to annotations index", work_path + '/annotations', :class => :annoindex %>
                <%= form_for([@work, Annotation.new]) do |f| %>
                  <div>
                    <%= f.label :title%> *<br>
                    <%= f.text_field :title%>
                  </div>
                  <div>
                    <%= f.label :body%> *<br>
                    <%= f.text_area :body%>
                  </div>
                  <%#= f.hidden_field :tags, id: 'content_tags' %>

                  <%= f.hidden_field :x, id: 'content_x' %>
                  <%= f.hidden_field :y, id: 'content_y'%>
                  <%= f.hidden_field :width, id: 'content_width'%>
                  <%= f.hidden_field :height, id: 'content_height'%>
                  <%= f.hidden_field :image_url, id: 'content_image_url'%>
                  <%= f.hidden_field :thumbnail_url, id: 'content_thumbnail_url'%>

                  <%#= tag_selector @current_metadata %>
                  <p>
                  <%= f.submit %>
                  </p>
                <% end %>    
              </div>
              <div id='work_annotations'>
                <%= render partial: 'annotations/thumbnail', collection: @work.annotations %>
              </div>

            <% else %>
              <%= login_link 'Log in' %>
            <% end %>
          </div> 
        </div>
      </td>
    </tr>

  </table>

</div>

<div class="credit">Collection provided by <%= @work.collection.source %></div>
-->  

