<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="login_signup">
    <b><%= f.label :name, "Username" %></b>
    <%= f.text_field :name, class:"text" %>
  </div>
  <div class="login_signup">
    <b><%= f.label :email %></b>
    <%= f.text_field :email, class:"text"  %>
  </div>
  <div class="login_signup">
    <b><%= f.label :password %></b>
    <%= f.password_field :password, class:"text"  %>
  </div>
  <div class="login_signup">
    <b><%= f.label :password_confirmation, 'Password X2' %></b>
    <%= f.password_field :password_confirmation, class:"text"  %>
  </div>
  <div class="login_signup">
    <b><%= f.label "Secret Word" %></b>
    <input type='text' name='magic_word'>
  </div>
  <%= f.submit "Sign Up!", class:'button' %><div class="switch">Already a member? <a href="../login"><b>Log-in</b></a></div>
    
<% end %>
