<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="login_signup">
    <input type="hidden" name="send_secret">

    <div>
      <%= f.label :name, 'username' %>
      <%= f.text_field :name, placeholder: 'username', value: @user.name %>

      <%= f.label :email %>
      <%= @user.email %>
    </div>

    <div>
      <%= f.button 'sign up', type: 'submit', class: 'login-button' %>
    </div>
  </div>
    
<% end %>
