<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="login_signup">
    <input type="hidden" name="send_secret">

    <div>
      <b><%= @user.email %></b>

      <%= f.label :name, 'username' %>
      <%= f.text_field :name, placeholder: 'username', value: @user.name %>

      <%= f.label :bio, 'bio' %>
      <%= f.text_area :bio, placeholder: 'bio', value: @user.bio, rows: 5, cols: 40 %>
    </div>

    <div>
      <%= f.button 'save', type: 'submit', class: 'login-button' %>
    </div>
  </div>
    
<% end %>
