<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="login_signup">
    <div>
      <%= f.label :name, "username" %>
      <%= f.text_field :name, placeholder: 'username' %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: 'email' %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: 'password' %>

      <%= f.label :password_confirmation, 'verify password' %>
      <%= f.password_field :password_confirmation, placeholder: 'verify password' %>
    </div>

    <div>
      <label for="magic_word">Secret Word</label>
      <input type="text" name="magic_word" id="magic_word" placeholder="secret word*">

      <%= f.button 'sign up', type: 'submit', class: 'login-button' %>
    </div>
  </div>
    
<% end %>
