<!-- BEGIN INFO BAR -->	
<div class="INFO_BAR">
  <div class="left shifter">
    <%= image_tag "animated_icon.gif", id: "hint_orig", alt: '' %>
    <%= image_tag "hint_collection.png", id: "hint_coll", alt: '' %>
    <%= image_tag "hint_spotlight.png", id: "hint_spot", alt: '' %>
    <%= image_tag "hint_explore.png", id: "hint_expl", alt: '' %>
    <%= image_tag "hint_user.png", id: "hint_user", alt: '' %>
  </div>
  <div class="expandable">
    <div class="info_text">
      <div class="hintbar_desc">
        <h1>Sign up! Join the Curarium community</h1>
        <p class="switch">Already a member? <%= link_to 'Sign in!', login_path %></p>
      </div>

      <div id="hintbar_links" class="signup">
        <%= render 'form' %>

        <div class="signup-info">
          <p>This is a <a href="javascript:void(0);" class="beta">beta</a> version of Curarium, which is undergoing final testing before its official release and full public deployment. Please be aware that the current public release is subject to change at any time and that upcoming versions could alter or delete user content.</p>

          <p>* Enter your email address to the left and <a href="javascript:void(0);" class="send-secret">click here</a> to receive the Secret Word that will allow you to create an account.</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- END INFO BAR -->

<%= render partial: 'shared/beta_popup' %>
