<% provide :title, @user.name %>
<div class="container container-show-item">

  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 col-info">
      <h2 class="h4 page-header">User</h2>

      <%= render partial: 'users/thumbnail', object: @user %>

      <div class="list-group">
        <%= render partial: 'shared/mini_icon_item', object: 'user', locals: { url: edit_user_path( @user ), icon_title: 'Edit' } if is_current?( @user ) %>
        <%= render partial: 'shared/mini_icon_item', object: 'about', locals: { url: '#user-bio', icon_title: 'Biography' } %>
        <%= render partial: 'shared/mini_icon_item', object: 'circles', locals: { url: '#user-circles' } if is_current?( @user ) %>
        <%= render partial: 'shared/mini_icon_item', object: 'trays', locals: { url: '#user-trays' } if is_current?( @user ) %>
        <%= render partial: 'shared/mini_icon_item', object: 'collections', locals: { url: '#user-collections' } %>
        <%= render partial: 'shared/mini_icon_item', object: 'spotlights', locals: { url: '#user-spotlights' } %>
      </div>
    </div>

    <div class="col-sm-8 col-md-6 col-lg-7 col-detail">
      <h2 id="user-bio" class="h4 page-header"><%= @user.name %></h2>

      <dl class="dl-horizontal">
        <dt>Member since</dt>
        <dd><%= @user.created_at.strftime '%b %d %Y' %></dd>
      </dl>

      <p><%= @user.bio %></p>

      <h2 id="user-circles" class="h4 page-header">Circles <%= link_to 'Circle Manager', circles_path, class: 'pull-right' %></h2>

      <%= render partial: 'shared/gallery', object: @circles, locals: { newnail: Circle } %>

      <h2 id="user-trays" class="h4 page-header">Trays <%= link_to 'Tray Manager', user_trays_path( @user ), class: 'pull-right' %></h2>

      <%= render partial: 'shared/gallery', object: @user.trays, locals: { newnail: Tray } %>

      <h2 id="user-collections" class="h4 page-header">Collections</h2>

      <%= render partial: 'shared/gallery', object: Collection.administered_by( @user ), locals: { newnail: Collection } %>

      <h2 id="user-spotlights" class="h4 page-header">Spotlights</h2>

      <%= render partial: 'shared/gallery', object: @spotlights, locals: { newnail: Spotlight } %>

    </div>

    <div class="col-sm-2 col-md-3 col-activity hidden-sm">
      <h2 class="h4 page-header">Activity</h2>
    </div>

</div>
