<div class="left">
  <div class="holder col-sidebar">
    <div class="titlebar main">User</div>
    <%= render partial: 'thumbnail', object: @user %>
    <div class="stalking_menu_holder">
      <div class="stalking_menu">
        <%= link_to render( partial: 'shared/mini_icon', object: 'user', locals: { icon_title: 'Biography' } ), '#user-bio' %>
        <%= link_to render( partial: 'shared/mini_icon', object: 'circles' ), '#user-circles' if @user == @current_user %>
        <%= link_to render( partial: 'shared/mini_icon', object: 'trays' ), '#user-trays' if @user == @current_user %>
        <%= link_to render( partial: 'shared/mini_icon', object: 'collections' ), '#user-collections' %>
      </div>
    </div>
  </div>
</div>

<div class="expandable">
<h1 id="user-bio" class="collection-header"><%= @user.name %></h1>

<dl>
  <dt>Member since</dt>
  <dd><%= @user.created_at %></dd>
</dl>

<dl>
  <dt>About <%=@user.name %> </dt>
  <dd><%= @user.bio %></dd>
</dl>
<% if @user == @current_user %>

<section class="user-circles">
  <h1 id="user-circles" class="collection-header">Circles</h1>

  <div class="GALLERY circle-gallery">
  <%= render partial: 'circles/thumbnail', collection: @user.circles %>
  </div><!-- END GALLERY -->  

  <%= link_to raw( '<h2>Circle Manager</h2>' ), circles_path %>
</section>

<section class="user-trays">
  <h1 id="user-trays" class="collection-header">Trays</h1>

  <%= render partial: 'trays/tray_preview_gallery', object: @user.trays.limit(2) %>

  <%= link_to raw( '<h2>Tray Manager</h2>' ), user_trays_path( @user ) %>
</section>

<% end %>

<section class="user-collections">
  <h1 id="user-collections" class="collection-header">Collections</h1>

  <div class="GALLERY">
    <% Collection.administered_by( @user ).each do |collection| %>
      <%= render :partial=>'shared/print_item', :locals=>{:item=>collection} %>
    <% end %>

    <%= render partial: 'shared/newnail', object: Collection, locals: { verb: 'add' } if authenticated? %>
  </div><!-- END GALLERY -->  

</section>

<section class="user-spotlights">
  <h1 id="user-spotlights" class="collection-header">Spotlights</h1>

  <div class="GALLERY">
    <% @spotlights.each do |s| %>
      <%= render :partial=>'shared/print_item', :locals=>{:item=>s} %>
    <% end %>

    <%= render( partial: 'shared/newnail', object: Spotlight, locals: { target: '_blank' } ) if ( authenticated? && @user == @current_user ) %>
  </div><!-- END GALLERY -->  

</section>

