<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li><%= link_to 'C', '#', class: 'navbar-brand' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!-- BEGIN GLOBAL MENU 
<div class="GLOBAL_MENU">

  <div class="left">
  <% if params[:controller] == 'home' && action_name == 'index' %>

    <div class="toggle_curarium">
      <%= link_to raw( 'Curarium' ), root_url, class:'curarium_name' %>
      <a href="javascript: void(0);" class="beta"><sup>beta</sup></a>
      <div class="dropdown_menu"><%= link_to 'About / Contact', '/about' %></div>
    </div>

  <% else %>

    <div class="toggle_curarium">
      <%= link_to render( partial: 'shared/mini_icon', object: 'curarium', locals: { icon_title: nil } ), root_path %>
      <div class="global_search">
        <input type="search" name="fname" placeholder="Search Curarium">
      </div>
      <div class="dropdown_menu">
        <%= link_to "About / Contact", "/about" %>
      </div>
    </div>

  <% end %>
  </div>

  <div class="expandable">
    <div class="tools">
      <div class = 'menu_wrapper'>

        <div class="toggle_user toggle_tools">
        <% if authenticated? %>

          <%= link_to render( partial: 'users/mini_icon', object: @current_user ), @current_user %>
          <div class="dropdown_menu">
            <%= link_to 'Edit Profile', edit_user_path( @current_user ) %>
            <%= logout_link %>
          </div>

        <% else %>

          <%= login_link 'Log In' %>

        <% end %>
        </div>

        <div class="toggle_explore toggle_tools">
          <%= link_to render( partial: 'shared/mini_icon', object: 'explore', locals: { side: :right } ), 'javascript:void(0);' %>

          <div class="dropdown_menu">
            <% @header_collections.each { |c| %>
              <%= link_to c.name, collection_works_path( c ) %>
            <% } %>
          </div>
        </div>

        <div class="toggle_spotlights toggle_tools"><%= link_to render( partial: 'shared/mini_icon', object: 'spotlights', locals: { side: :right } ), spotlights_path %></div>  

        <div class="toggle_collections toggle_tools"><%= link_to render( partial: 'shared/mini_icon', object: 'collections', locals: { side: :right } ), collections_path %></div>  
      </div>
    </div>
  </div>
</div> END GLOBAL MENU -->  
