<!--BEGIN GLOBAL MENU -->	
<div class="GLOBAL_MENU">
    <div class="left">
	<% if params[:controller] == 'home'  and action_name == 'index' %>
		<div class="toggle_curarium">
			<%= link_to 'Curarium', root_url, class:'curarium_name' %>
			<div class="dropdown_menu"><%= link_to 'About / Contact', '/about' %></div>
		</div>
	<% else %>
		<div class="toggle_curarium">
		  <a href='<%=root_path%>' >
		    <%= image_tag "miniicon.png" %>
		  </a>
		  <div class="global_search">
		    <input type="text" name="fname" value="Search Curarium"><%= image_tag "search_g.png" %>
		  </div>
		  <div class="dropdown_menu">
		    <%= link_to "About / Contact", "/about" %>
		  </div>
		</div>
	<% end %>
    </div>
    <div class="expandable">
    	<div class="tools">
		<div class="toggle_user">
		    <% if session[:user_id] %>
			<%= link_to  raw("Log Out#{image_tag("user_b.png")}#{image_tag("user_r.png")}"), logout_url, method: :delete %>
			<!-- <a href='<%= logout_url %>'>Log Out <%= image_tag "user_b.png" %><%= image_tag "user_r.png" %></a> -->
		    <% else %>
			<a href='<%= login_url %>'>Log In <%= image_tag "user_b.png" %><%= image_tag "user_r.png" %></a>
		    <% end %>
		</div>
		
		<div class="toggle_explore"><a href="<%= @active_collection.nil? ? collections_path : collection_visualizations_path(@active_collection) %>">Explore <%= image_tag "explore_b.png" %><%= image_tag "explore_r.png" %></a></div>
		<div class="toggle_spotlights"><a href="<%= spotlights_path %>">Spotlights <%= image_tag "spotlight_b.png" %> <%= image_tag "spotlight_r.png" %></a></div>	
		<div class="toggle_collections"><a href="<%= collections_path %>">Collections <%= image_tag "collection_b.png" %><%= image_tag "collection_r.png" %></a></div>
		</div>
	</div>
</div><!--- END GLOBAL MENU --->	