<!--- BEGIN GLOBAL MENU --->	
<div class="GLOBAL_MENU">
    <div class="left">
		<div class="toggle_curarium">
			<%= link_to 'Curarium', root_url, class:'curarium_name' %>
			<div class="dropdown_menu"><%= link_to 'About / Contact', '/about' %></div>
		</div>
    </div>
    <div class="expandable">
    	<div class="tools">
		<div class="toggle_user">
			<a href='<%= login_url %>'>Log In <%= image_tag "user_b.png" %><%= image_tag "user_r.png" %></a>
			<div class="dropdown_menu"><a href="/Curarium/about.html">Logout</a></div>
		</div>		
		<div class="toggle_explore"><a href="<%= collections_path %>">Explore <%= image_tag "explore_b.png" %><%= image_tag "explore_r.png" %></a></div>
		<div class="toggle_spotlights"><a href="<%= spotlights_path %>">Spotlights <%= image_tag "spotlight_b.png" %> <%= image_tag "spotlight_r.png" %></a></div>	
		<div class="toggle_collections"><a href="<%= collections_path %>">Collections <%= image_tag "collection_b.png" %><%= image_tag "collection_r.png" %></a></div>
		</div>
	</div>
</div><!--- END GLOBAL MENU --->	
<!-- THIS IS THE ORIGINAL CONTENT
<header id='main_header'>
	<nav id='main_nav'>
		<h1 class='main_title'><%= link_to 'CURARIUM', root_url %></h1>
		<ul>
			<li>
				<%= link_to 'Collections', collections_path %>
			</li>
			<li>
				<%= link_to 'Spotlights', spotlights_path %>
			</li>
			<% if session[:user_id].nil? %>
			<li>
				<%= link_to 'Sign In', login_path %>
			</li>
			<% else %>
			<li>
				<%= link_to 'Sign Out', logout_path, method: 'delete' %>
			</li>
			<% end %>
		</ul>
	</nav>
</header>
-->