<% background = "" %>
<% big ||= false %>
<% if item.class == Collection %>
  <% background = item.thumbnail_url %>
  <a href='<%= collection_path(item) %>'>
    <div class='gallery_item <%= "item_lrg" if big %>'>
      <div class='stack1<%= " item_lrg" if big %>' style='background-image: none;'></div>
      <div class='stack2<%= " item_lrg" if big %>' style='background-image: none;'></div>
      <div class='stack3<%= " item_lrg" if big %>' style='background-image:url(<%= background %>)'>
      <!--  <button type='button' class="abo_button">About</button>-->
      <!--  <button type='button' class="act_button">Activate</button> -->
      <div class='object_id'><%= item.name %> <% if item.importing %>(importing)<% end %></div>
        </div>
    </div>
  </a>
<% elsif item.class == Spotlight %>
  <a href='<%= item.waku_url %>'><div class='gallery_item spotlight<%=" item_lrg" if big %>' >
    <div class='object_id'><%= item.title %></div>
    <div class='border'>
      <div class='innertext'><% if item.privacy == 'draft' %><b>DRAFT</b> <% end %><%= item.body.gsub(/\<(\d+)\>/, "(see figure \\1)") %>...</div>
    </div>
    <%= image_tag "spotlight_tail.png", alt: '' %>
    <div class='name'>
      <b><%= User.find(item.user_id).name if item.user.present? %></b> <i>on <%= item.created_at.strftime("%d %b %y") %></i>
    </div>
  </div>
  </a>
<% elsif item.class == Work %>
  <% background = item.thumbnail_cache_url %>
  <a href='<%= work_path(item) %>'>
    <div class='gallery_item<%=" item_lrg" if big %>' style='background-image:url(<%= background %>)'>
      <div class='object_id'><%= item.id %></div>
    </div>
  </a>
<% end %>
