<% id_name ||= nil %>
<ul class='<%= class_name %>' id='<%= id_name %>'>
<% original.each do |key, value| %>
  <ul class='parsed_field' id='<%= key %>'>
  <li class='parsed_key'><span><%= key %></span>
  <ul class='parsed_values'>
  <% original_value = JSON.parse(original[key] || '{}') %>
  <% original_value = original_value.map(&:to_s) %>
  <% current_value = JSON.parse(current[key] || '{}') %>
  <% current_value = current_value.map(&:to_s) %>
  <% provided_values = original_value & current_value %>
  <% new_values = current_value - original_value %>
  <% deleted_values = original_value - current_value %>
  <% provided_values.each do |item| %>
    <li class='parsed_value original'><%= item %></li>
  <% end %>
  <% new_values.each do |item| %>
    <li class='parsed_value new'><%= item %></li>
  <% end %>
  <% deleted_values.each do |item| %>
    <li class='parsed_value deleted'><%= item %></li>
  <% end %>
  </ul></li></ul>
<% end %>
</ul>
