<div id="toolbar" style="display: none;">

	<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5"><%= image_tag "text-editor/sub.png", alt: '' %></a>
	<a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><%= image_tag "text-editor/regular.png", alt: '' %></a>

	<a data-wysihtml5-command="bold"><%= image_tag "text-editor/bold.png", alt: '' %></a>
	<a data-wysihtml5-command="italic"><%= image_tag "text-editor/italic.png", alt: '' %></a>

	<!-- Some wysihtml5 commands require extra parameters -->
	<a data-wysihtml5-command="justifyLeft"><%= image_tag "text-editor/left.png", alt: '' %></a>
	<a data-wysihtml5-command="justifyCenter"><%= image_tag "text-editor/center.png", alt: '' %></a>
	<a data-wysihtml5-command="justifyRight"><%= image_tag "text-editor/right.png", alt: '' %></a>

	<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
	<a data-wysihtml5-command="createLink"><%= image_tag "text-editor/link.png", alt: '' %></a>
	<div data-wysihtml5-dialog="createLink" style="display: none;">
		<label> Link:
			<input data-wysihtml5-dialog-field="href" value="http://" class="text">
		</label>
		<a data-wysihtml5-dialog-action="save">OK</a><a data-wysihtml5-dialog-action="cancel">Cancel</a>
	</div>
	<!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
	<a data-wysihtml5-command="insertImage"><%= image_tag "text-editor/instertimage.png", alt: '' %></a>
	<div data-wysihtml5-dialog="insertImage" style="display: none;">
		<label> Image:
			<input data-wysihtml5-dialog-field="src" value="http://">
		</label>
		<a data-wysihtml5-dialog-action="save">OK</a>
		<a data-wysihtml5-dialog-action="cancel">Cancel</a>
	</div>
</div>

