<% uuid = "curarium"+SecureRandom.hex(4) %>

document.write("<style type='text/css'> .node { box-sizing: border-box; font: 10px sans-serif; color: black; line-height: 12px; overflow: hidden !important; position: absolute;  text-indent: 2px;	} </style>");

<% if params[:type] == 'thumbnail' %>
document.write("<script type='text/javascript' src='http://code.jquery.com/ui/1.10.4/jquery-ui.min.js'></script>");
document.write("<script type='text/javascript' src='http://curarium.herokuapp.com/js/jquery.ui.zoomify.js'></script>");
document.write("<script type='text/javascript' src='http://curarium.herokuapp.com/js/spatialc.js'></script>");
document.write("<link type='text/css' rel='stylesheet' href='http://curarium.herokuapp.com/css/spatialc.css'></script>");
<% end %>

if(typeof(jQuery) == 'undefined'){ 
	document.write("<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.0.min.js'></script>");
}

if(typeof(d3) == 'undefined'){ 
	document.write("<script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>");
}

if(typeof(window.curarium) == 'undefined'){ 
	document.write("<script type='text/javascript' src='http://curarium.herokuapp.com/js/curarium.js'></script>");
}

function spatial_ready() {
  if(!(typeof(jQuery) ==- 'undefined')) { 
      return false;
  } else if(typeof(jQuery) ==- 'undefined'){
      if(typeof($().spatialc) === 'undefined'){
          return false;
      } else {
	  return true;
      }
  }
}



setTimeout(areWeThereYet, 100)

function areWeThereYet(){
	if (typeof(jQuery) === 'undefined' || typeof(d3) === 'undefined' || typeof(window.curarium) === 'undefined' || spatial_ready()){
		setTimeout(areWeThereYet,100)
	} else {
		$(document).ready(function(){
			<%= uuid %>();
		});		
	}
}
	



var <%= uuid %> = function() {
  	<%= raw("window.collection.query.type='#{params[:type]}';") if params[:type]%>
  	<%= raw("window.collection.query.property='#{params[:property]}';") if params[:property]%>
  	<%= raw("window.collection.query.include=#{raw(params[:include])};") if params[:include]%>
  	<%= raw("window.collection.query.exclude=#{raw(params[:exclude])};") if params[:exclude]%>
  	
  	
  	
  	var placement = $('.curarium').first()
  	
  	
  	$(placement).append($("<div id='<%= uuid %>' style='display:inline-block;width:100%; height:100%'></div>"));
  	$(placement).click(function(e){
  		e.stopPropagation();
  		window.open("http://curarium.herokuapp.com/collections/<%=params[:collection_id]%>/visualizations"+window.collection.query_terms(), "_blank")
  	});
  	$(placement).removeClass('curarium');
  	
  		
	type = window.collection.query.type;
	window.visualization[type]('<%= uuid %>',"http://curarium.herokuapp.com/collections/<%=params[:collection_id]%>/visualizations"+window.collection.query_terms()+"&format=json");
  
}
