<script>
	$(document).ready(function(){
		window.collection.query = {
			type: '<%= params[:type]%>',
			property: '<%= params[:property]%>',
			include: <%= raw(params[:include] || [])%>,
			exclude: <%= raw(params[:exclude] || [])%>
		};
		
		var properties = <%= raw(Collection.find(params[:collection_id]).properties.to_json)%>;
		
		for(var property in properties){
			properties[property] = Object.keys(properties[property]); 
		}
		
		console.log(properties);
		
		window.visualization['<%=params[:type]%>']('main');
		
		$('#refine_search').appendTo('header #secondary_nav');
		$('#add_to_tray').prependTo('header #secondary_nav');
		
		$('.remove_element').click(function(e){
			$(this).parent().remove();
		});
		
		var options_overlay = $("<div id='options_overlay'>");
		$('body').append(options_overlay);
		
		$('#include_value, #exclude_value').val('').keyup(function(e){
			var current = $(this).val();
			if( $(this).attr('id') === 'include_value'){
				var options = properties[$('#include_property').val()];
			} else {
				var options = properties[$('#exclude_property').val()];
			}
			
			var filtered = []
			for(var any in options){
				var compare = options[any].substring(0, current.length);
				if( current.toLowerCase() == compare.toLowerCase()) {
					filtered.push(options[any]);
				}
			}
			console.log(filtered);
			options_overlay.show();
			options_overlay.find('*').remove();
			for(var option in filtered){
				options_overlay.append("<p>"+filtered[option]+"</p>")
			}
			
		});
		
		
		$("select[name=tray]").change(function(e){
			if($(this).val() === 'new_tray') {
				$("input[name=new_tray]").show();
			} else {
				$("input[name=new_tray]").hide();
			}
		});
		
		$('#add_to_tray').submit(function(e) {
			
			e.preventDefault();
			
			var option = $('select[name=tray]').val();
			
			var type_placeholder = window.collection.query.type
			window.collection.query.type = 'list_records'
			$.getJSON( window.location.pathname + window.collection.query_terms(), function(data){
				if(option ==='new_tray'){
					$.ajax({
						type : "POST",
						url : 'http://'+window.location.host+'/users/<%= session[:user_id]%>/trays/',
						data : {
								tray: {
									owner_id: <%= session[:user_id] %>,
									owner_type: 'User',
									records: data,
									name: $("input[name=new_tray]").val()
								}
								
							},
						success : function(data) {
							alert('success: tray '+$("input[name=new_tray]").val()+' created and records added')
							},
						dataType : 'json',
						headers : {
						'X-CSRF-Token' : $("meta[name='csrf-token']").attr('content')
						}
					});
				} else {
					$.ajax({
						type : "GET",
						url : '/trays/'+option+'/add_records/',
						data : {
								records: data
							},
						success : function(data) {
							alert('success: records added to '+$("input[name=new_tray]").val())
							},
						dataType : 'json',
						headers : {
						'X-CSRF-Token' : $("meta[name='csrf-token']").attr('content')
						}
					});
				}
				
				window.collection.query.type = type_placeholder
			});
		});
		
		var id = setInterval(function() { 
			$("#query_length").val(window.collection.query.length);
		}, 500)
		
	});
</script>

<form id='refine_search'>
	<h3>Refine query:</h3>
	<label for='vizualization_type'>type</label>
	<select id='vizualization_type' name='type'>
		<option value='treemap'>treemap</option>
		<option value='thumbnail'>thumbnail</option>
	</select>
	<label for='vizualization_property'>property</label>
	<select id='vizualization_property' name='property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<label for='vizualization_include'>include</label><br>
	<% if params[:include]%>
		<% params[:include].each do |include|%>
			<span class='visualization_included'><span class='remove_element'>x</span><input value='<%= include %>' name='include[]' readonly></span>
		<% end %>
		<br>
	<% end %>
	<select id='include_property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<input class='visualization_new_property' id='include_value'>
	<br>
	<label for='vizualization_exclude'>exclude</label><br>
	<% if params[:exclude]%>
		<% params[:exclude].each do |exclude|%>
			<span class='visualization_excluded'><span class='remove_element'>x</span><input value='<%= exclude %>' name='exclude[]' readonly></span>
		<% end %>
		<br>
	<% end %>
	<select id='exclude_property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<input class='visualization_new_property' id='include_value'>
	<br>
	<input type='submit'>
</form>

<form id='add_to_tray'>
	<input type='text' id='query_length' >
	<label for='query_length'> records </label>
	<br>
	<select name='tray'>
		<option selected='true' disabled>SELECT TRAY</option>
		<option value='new_tray'>New Tray</option>
		<% User.find(session[:user_id]).trays.each do |tray| %>
			<option value='<%=tray.id%>'><%= tray.name %></option>
		<% end %>
	</select>
	<input name='new_tray' style='display: none'>
	<input type='submit' value="Add to Tray">
</form>