document.write("<style type='text/css'> .node { box-sizing: border-box; font: 10px sans-serif; color: black; line-height: 12px; overflow: hidden !important; position: absolute;  text-indent: 2px;	} </style>");

if(typeof(jQuery) == 'undefined'){ 
	document.write("<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.0.min.js'></script>");
}

if(typeof(d3) == 'undefined'){ 
	document.write("<script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>");
}

if(typeof(window.curarium) == 'undefined'){ 
	document.write("<script type='text/javascript' src='http://curarium.herokuapp.com/js/curarium.js'></script>");
}


setTimeout(areWeThereYet, 100)

function areWeThereYet(){
	if ((typeof(jQuery)== 'undefined' || typeof(d3) == 'undefined') || typeof(window.curarium) == 'undefined'){
		setTimeout(areWeThereYet,100)
	} else {
		$(document).ready(function(){
			visualize();
		});		
	}
}
	



var visualize = function() {
  	<%= raw("window.collection.query.type='#{params[:type]}';") if params[:type]%>
  	<%= raw("window.collection.query.property='#{params[:property]}';") if params[:property]%>
  	<%= raw("window.collection.query.include=#{raw(params[:include])};") if params[:include]%>
  	<%= raw("window.collection.query.exclude=#{raw(params[:exclude])};") if params[:exclude]%>
  	
  	if($('#curarium_container').length == 0){
  		$('body').append($("<div id='curarium_container' style='display:inline-block;width:100%; height:100%'></div>"));
  	}
  		
	type = window.collection.query.type;
	window.visualization[type]('curarium_container',"http://curarium.herokuapp.com/collections/<%=params[:collection_id]%>/visualizations"+window.collection.query_terms()+"&format=json");
  
}
