<script>
	$(document).ready(function(){
		window.collection.query = {
			type: '<%= params[:type]%>',
			property: '<%= params[:property]%>',
			include: <%= raw(params[:include] || [])%>,
			exclude: <%= raw(params[:exclude] || [])%>
		};
		window.visualization['<%=params[:type]%>']('main');
		
		$('#refine_search').appendTo('header #secondary_nav');
		
	});
</script>

<form id='refine_search'>
	<h3>Refine query:</h3>
	<label for='vizualization_type'>type</label>
	<select id='vizualization_type' name='type'>
		<option value='treemap'>treemap</option>
		<option value='thumbnail'>thumbnail</option>
	</select>
	<label for='vizualization_property'>property</label>
	<select id='vizualization_property' name='property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<label for='vizualization_include'>include</label>
	<select id='vizualization_include' name='include[]'>
		<option value='topics:saints'>saints</option>>
	</select>
	<label for='vizualization_exclude'>exclude</label>
	<select id='vizualization_exclude' name='exclude[]'>
	</select>
	<input type='submit'>
</form>
