<script>
	$(document).ready(function(){
		window.collection.query = {
			type: '<%= params[:type]%>',
			property: '<%= params[:property]%>',
			include: <%= raw(params[:include] || [])%>,
			exclude: <%= raw(params[:exclude] || [])%>
		};
		
<<<<<<< HEAD
		var properties = <%= raw(Collection.find(params[:collection_id]).properties.to_json)%>;
=======
		$('form>h3').click(function(e){
			$(this).data('toggle', !$(this).data('toggle'));
			var t = $(this).data('toggle');
			if (t) {
				$(this).parent().css('height', 'auto');
				$(this).css('color', 'gray');
			} else {
				$(this).parent().css('height', 25);
				$(this).css('color', 'white');
			}
				
		});
		
		
		var properties = <%= raw(Collection.find(params[:collection_id]).configuration.to_json)%>;
>>>>>>> ebcd8c81e7a414ea60acf435b16aba25104d5c35
		
		for(var property in properties){
			properties[property] = Object.keys(properties[property]); 
		}
		
		window.visualization['<%=params[:type]%>']('main',window.location.href);
		
		
		window.collection.visualization_controls(properties);
		
		<% if session[:user_id] %>
			window.trays.add_records(<%=session[:user_id].to_i%>);
			window.trays.add_visualization(<%=session[:user_id].to_i%>);
		<% end %>
		var id = setInterval(function() { 
			$("#query_length").val(window.collection.query.length);
		}, 500)
		
	});
</script>

<form id='refine_search'>
	<h3>Refine query:</h3>
	<label for='vizualization_type'>type</label>
	<select id='vizualization_type' name='type'>
		<option value='treemap'>treemap</option>
		<option value='thumbnail'>thumbnail</option>
	</select>
	<label for='vizualization_property'>property</label>
	<select id='vizualization_property' name='property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<label for='vizualization_include'>include</label><br>
	<div id='visualization_include'>
	<% if params[:include]%>
		<% params[:include].each do |include|%>
			<span class='visualization_included'><span class='remove_element'>x</span><input value='<%= include %>' name='include[]' readonly></span>
		<% end %>
	<% end %>
	</div>
	<br>
	<select id='include_property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<input class='visualization_new_property' id='include_value' autocomplete="off" >
	<br>
	<label for='vizualization_exclude'>exclude</label><br>
	<div id='visualization_exclude'>
	<% if params[:exclude]%>
		<% params[:exclude].each do |exclude|%>
			<span class='visualization_excluded'><span class='remove_element'>x</span><input value='<%= exclude %>' name='exclude[]' readonly></span>
		<% end %>
	<% end %>
	</div>
	<br>
	<select id='exclude_property'>
		<% @properties.each do |property|%>
			<% unless ["image","thumbnail"].include? property %>
			<option value='<%= property %>'><%= property %></option>
			<% end %>
		<% end %>
	</select>
	<input class='visualization_new_property' id='exclude_value'  autocomplete="off" >
	<br>
	<input type='submit'>
</form>

<form id='add_records_to_tray'>
	<h3>
		<input type='text' id='query_length' >
		<label for='query_length'> records </label>
	</h3>
	<% if session[:user_id] %>
	<br>
	<select name='tray'>
		<option selected='true' disabled>SELECT TRAY</option>
		<option value='new_tray'>New Tray</option>
		<% User.find(session[:user_id]).trays.each do |tray| %>
			<option value='<%=tray.id%>'><%= tray.name %></option>
		<% end %>
	</select>
	<input name='new_tray' style='display: none'>
	<input type='submit' value="Add to Tray">
	<% end %>
</form>

<% if session[:user_id] %>
<form id='add_visualization_to_tray'>
	<h3>Save visualization:</h3>
	<br>
	<select name='tray'>
		<option selected='true' disabled>SELECT TRAY</option>
		<option value='new_tray'>New Tray</option>
		<% User.find(session[:user_id]).trays.each do |tray| %>
			<option value='<%=tray.id%>'><%= tray.name %></option>
		<% end %>
	</select>
	<input name='new_tray' style='display: none'>
	<input type='submit' value="Add to Tray">
</form>
<% end %>
