<div class="container">

  <div class="row">
    <div class="col-md-2 visible-lg">
      <%= image_tag 'animated_icon.gif', class: 'home-gif' %>
    </div>

    <div class="col-md-10 page-header">
      <p class="intro-blurb">Curarium leverages the power of the crowd to annotate, curate, &amp; augment works with the aim of constructing shareable, media-rich stories &amp; elaborate arguments about individual items as well as groups of items.</p>

      <p><b><%= link_to "Learn more", '/about'%></b></p>

      <% if current_user.present? %>
        <p>To report a bug or suggestion, please visit the <a href="https://cyber.law.harvard.edu/projectmanagement/projects/curarium-beta-bug-tracker/issues/new">Curarium Bug Tracker</a></p>
      <% else %>
        <p class="home-login"><%= link_to 'Sign Up', new_user_session_path %> <span class="join">Join the Community!</span></p>
      <% end %>
    </div>
  </div>

  <h2 class="h4 page-header">Latest Activity</h2> 

  <%= render partial: 'shared/gallery', object: @all, locals: { big: @collection, col_classes: 'col-xs-6 col-sm-4 col-md-3 col-lg-2' } %>

</div>

<%= render partial: 'shared/beta_popup' %>
