<!-- BEGIN INFO BAR -->	
<div class="INFO_BAR">
    <div class="left shifter">
      <%= image_tag "animated_icon.gif", id: "hint_orig", alt: '' %>
      <%= image_tag "hint_collection.png", id: "hint_coll", alt: '' %>
      <%= image_tag "hint_spotlight.png", id: "hint_spot", alt: '' %>
      <%= image_tag "hint_explore.png", id: "hint_expl", alt: '' %>
      <%= image_tag "hint_user.png", id: "hint_user", alt: '' %>
    </div>
    <div class="expandable"><div class="info_text">
		<div class="hintbar_desc">
		<span id="orig">
		Curarium leverages the power of the crowd to annotate, curate, &amp; augment works with the aim of constructing shareable, media-rich stories &amp; elaborate arguments about individual items as well as groups of items.
		</span>
		<span id="coll">
		Collections:
		 Find and follow collections of interest to you OR import your own collection* of up to 30,000 records in just 5 minutes.
		</span>
		<span id="spot">
		Spotlights:
		 Tell stories by pulling directly from the content you’ve collected in your trays. 
		Publish, share, and export your spotlights. 
		</span>
		<span id="expl">
		Explore:
		 Within any collection, browse, filter, search, and generate visualizations.
			Annotate records and make additions to their metadata.
			Save individual records, groups of records, or visualizations to a tray. 
			Categorize what you save using as many trays as you need. 
		</span>
		<span id="user">
		You:
		Start or join user circles to share and collaborate on work within a specified collection or set of collections. 
		When you explore any collections in your circles, you can use a social tray to work in real time with circle members to collect and order records. 
		</span>
		</div>
    	
    <div id="hintbar_links">
      <span><b><%= link_to "Learn more", '/about'%></b></span>

      <% if authenticated? %>
      <span>To report a bug or suggestion, please visit the <a href="https://cyber.law.harvard.edu/projectmanagement/projects/curarium-beta-bug-tracker/issues/new">Curarium Bug Tracker</a></span>
      <% else %>
      <span><%= login_link 'SIGN UP' %>, Join the Community</span>
      <% end %>
    </div>
    
    </div></div>

</div><!-- END INFO BAR -->	

<!-- BEGIN GALLERY -->	
<div class="GALLERY">
	<div class="titlebar">Latest Activity</div> 

  <%= render :partial => 'shared/print_item', :locals=>{:item=>@collection,:big=>true} %>
	<% @all.each do |item| %>
	  <%= render :partial => 'shared/print_item', :locals=>{:item=>item} %>
	<% end %>
	
	
</div><!-- END GALLERY -->

<%= render partial: 'shared/beta_popup' %>
