<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>
      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title, placeholder: 'Section Title', autocomplete: 'off' %>

  <div id="section_user_selector"> 	
    <input id='section_users' autocomplete="off" placeholder="Search User">
    <div id='selected_users' >
    	<span class='users_selection_label'>selected users:</span>
	</div>
    <ul id='user_list' >
    	<span class='users_selection_label'>results:</span>
    </ul>
  </div>
  <div class="field">
  	<% @section.resources.each do |key,value|%>
  		<% if ['Collection','Spotlight'].include? key%>
	  		<label for='resources_<%=key%>'><%=key.pluralize%></label>
  			<% key.constantize.all.each_with_index do |item, i| %>
  				<input type='checkbox' name="resources[<%= key %>][<%= i %>]" value='<%= item.id %>'><%= item.name %></input>
  				<br>
  			<% end %>
	  	<% end %>
  	<%end%>
  	<%# f.text_field :resources %>

    <%= f.submit %>
  </div>
<% end %>
