<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
  	<div id='selected_users'>
	</div>
    <%= f.label :users %><br>
    <input id='section_users'>
    <ul id='user_list'>
    </ul>
  </div>
  <div class="field">
  	<% @section.resources.each do |key,value|%>
  		<% if ['Collection','Spotlight'].include? key%>
	  		<label for='resources_<%=key%>'><%=key.pluralize%></label>
  			<% key.constantize.all.each do |item| %>
  				<input type='checkbox' value="<%=item.id%>"><%=item.id%></option>
  			<% end %>
	  	<% end %>
  	<%end%>
    <%= f.hidden_field :resources %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
