<h2 id='section_title'> <%= @section.title %> </h2>

<section id='section_resources'>
	<h3>Resources</h3>
	<% @section.resources.each do |resource, content|%>
	<p>
		<%= resource.pluralize %>
	</p>
	<p>
		<% content.each do |c| %>
			<%= link_to resource.constantize.find(c).name, resource.constantize.find(c) %>
			<br>
		<% end %>
	</p>
	<% end %>
</section>

<section id='section_feed'>
	<!-- TEMPORARY FIX FOR A BUG. IN HEROKU THE ADMIN # IS RETURNED AS A STRING AND IN LOCALHOST AS AN INT -->
	<% if @s.admins.include?(@current_user.id) || @s.admins.include?(@current_user.id.to_s) %>
	<div id='new_message'>
		<h3>NEW MESSAGE:</h3>
		<%= form_for([@s, @s.messages.build]) do |f| %>
		<%= f.text_field :title, placeholder: 'Message Title' %>
		<%= f.text_area :body, placeholder: 'Message Body' %>
		<%= f.submit %>
		<% end %>
	</div>
	<% end %>

	<% @section.messages.reverse.each do |message| %>
	<div class='section_message_wrapper'>
		<div class='section_message'>
			<h4><%= link_to(message.title, section_message_path(@section.id, message.id)) %></h4>
			<p class='message_author'>
				<%= message.user.name %>
			</p>
			<p class='message_body'>
				<%= message.body%>
			</p>
			<% if message.user_id == @current_user.id%>
			<a class='edit_link'>edit</a><%= link_to 'delete', section_message_path(@section.id, message.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'edit_link' %>
			<% end %>
		</div>
		<% message.comments.each do |comment|%>
		<div class='section_message_comment'>
			<p class='comment_author'>
				<%= comment.user.name %>
			</p>
			<% if @current_user.id==comment.user_id%>
			<%= link_to 'delete', section_message_comment_path(@section.id, message.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'edit_link' %>
			<% end %>
			<p class='comment_body'>
				<%= comment.body %>
			</p>
		</div>
		<% end %>
		<div class='section_message_comment'>
			<h3>Comment:</h3>
			<%= form_for([@section, message, message.comments.build]) do |f| %>
			<div class="field">
				<%= f.text_area :body %>
			</div>
			<div class="field">
				<%= f.hidden_field :message_id, value: message.id %>
			</div>
			<div class="actions">
				<%= f.submit %>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>
</section>

<section id='section_users'>
	<h3>Members:</h3>
	<% @section.users.each do |user_id| %>
	<% user = User.find(user_id)%>
	<p>
		<%= link_to user.name, user%>
	</p>
	<% end %>
	
	<% if @s.admins.include?(@current_user.id) || @s.admins.include?(@current_user.id.to_s) %>
	<h4>Send message to the section</h4>
	<form method='post' action='message'>
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<input type='hidden' name='message[sender]' value='<%= @current_user.id %>'>
		<input type='hidden' name='id' value='<%= @section.id %>'>
		<input type='hidden' name='message[members]' value='<%= @section.users %>'>
		<input name='message[subject]' placeholder="message subject"></input>
		<br>
			<textarea name='message[content]' placeholder="message body"></textarea>
		<br>
		<input type="submit">	
	</form>
	<%end%>
	
</section>

