<% if hstore_aray(@work.parsed, 'image')[0] != nil %>
<a href='/works/<%= @work.id %>' target='_blank' class='work_thumbnail' style='background-image:url(<%= hstore_aray(@work.parsed, 'image')[0]+"?width=300&height=300" %>)' title='<%= hstore_aray(@work.parsed, 'title')[0] %>'>
<% else %>
<a href='/works/<%= @work.id %>' target='_blank'  class='work_thumbnail' style='background-color:#CCC' title='<%= hstore_aray(@work.parsed, 'title')[0] %>'>
<% end %>
	<h3 class='work_thumbnail_title'><%= @work.title %></h3>
</a>