<!-- <a href='/records/<%= eval(@record.parsed['curarium'])[0]%>' target='_blank' class='record_thumbnail' style='background-image:url(<%= eval(@record.parsed['image'])[0]+"?width=300&height=300" %>)' title='<%= eval(@record.parsed['title'])[0] %>'> --></a>
<a href='/records/<%= eval(@record.parsed['curarium'])[0]%>' target='_blank'  class='record_thumbnail' style='background-color:red' title='<%= eval(@record.parsed['title'])[0] %>'>
	<h3 class='record_thumbnail_title'><%= eval(@record.parsed['title'])[0] %></h3>
</a>