<section class="vis-controls">
  <h2>Visualization Controls</h2>

  <%= form_tag(request.original_url, method: :get, id: 'vis-form') do |f| %>
    <%= label_tag 'vis', 'Visualization type' %>
    <%= select_tag 'vis', options_for_select( [ ['list', 'list'], ['thumbnails','thumbnails'], ['object map', 'objectmap'], ['treemap', 'treemap'] ], params['vis'] || 'objectmap' ) %><br>
    <%= label_tag 'selprop', 'Select property' %>
    <%= select_tag 'selprop', options_for_select(@properties),:id=>'selprop' %><br>
    <%= text_field_tag 'propval' %>
    <%= button_tag 'Include', :class=>'add-prop', 'data-cmd'=>'include', :type=>'button' %>
    <%= button_tag 'Exclude', :class=>'add-prop', 'data-cmd'=>'exclude', :type=>'button' %><br>
    <span id='props'></span><br>
    <% @num ||= 0 %>
    <% @perpage ||= 200 %>
    <%= label_tag 'page', 'Page' %>
    <%= select_tag 'page', options_for_select((1..((@num.to_f/@perpage).ceil)).to_a, params[:page].to_i || 1), class: 'page_in' %>
    <%= label_tag 'per_page', 'Records per page' %>
    <%= text_field_tag 'per_page', @perpage, class: 'page_in' %>
    <br><%= submit_tag 'Go', name: nil %>
  <% end %>
</section>

