<script>
	$(document).ready(function(){
		<% image = params[:image].to_i || 0%>
		window.record.display( '<%=eval(@record.parsed['image'])[image]%>' );
		$('img.surrogate_thumbnail').each( function(i){
			$(this).click(function(e){
				window.location = "?image="+i
			});
		});
	});
</script>

<% title eval(@record.parsed['title'])[0] %>

<div id='main-canvas'>
</div>

<div id='record-data'>
	<script>
		$(document).ready(function(){
			$('#parsed_record .key').parent().click(function(e){
				$(this).next().find('.value').toggle();
			});
			$('#original_record *').show();
			$('#original_record>.key').next().hide();
			$('#original_record>.key').click(function(e){
				$(this).next().toggle();
			});
		});
	</script>
	<nav>
 <% images= eval(@record.parsed['image']) %>
 <% images.each do |image|%>
 	<img src='<%= image+'?width=10000&height=10000'%>' class='surrogate_thumbnail'>
<%end%>
	</nav>
	<section>
 <%= print_hstore @record.parsed, 'printed_object', 'parsed_record' %>
 <%= print_json @record.original, 'printed_object', 'original_record' %>
 </section>
</div>
<div id='annotations'>
	<div id='preview_window'></div>
	<%= form_for([@record, @record.annotations.build]) do |f| %>
	  <label for='short_description'>Short Description:</label><br>
	  <input id='short_description' name='content[title]'><br>
	  <label for='long_description'>Long Description:</label><br>
	  <textarea id='long_description' name='content[body]'></textarea><br>
	  <input type='hidden' name='content[x]'>
	  <input type='hidden' name='content[y]'>
	  <input type='hidden' name='content[width]'>
	  <input type='hidden' name='content[height]'>
	  <input type='hidden' name='content[image_url]'>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
</div>