<p id="notice"><%= notice %></p>

<p>
  <strong>Original:</strong>
  <%= @record.original %>
</p>

<p>
  <strong>Parsed:</strong>
  <%= @record.parsed %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @record.belongs_to %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
