<article class="show-xhr">
  <h1><%= record_title @record %></h1>

  <section class="parsed-info">
    <h2>Parsed Information</h2>

    <%= render :partial => 'shared/print_metadata', locals: {
      original: @record.parsed,
      current: @current_metadata,
      class_name: 'printed_object',
      id_name: 'parsed_record'
    } %>
  </section>

  <section class="record-image">
    <ul class="record-commands">
      <li><%= link_to render( partial: 'shared/mini_icon', object: 'record' ), @record, class: 'show' %></li>
      <li><%= link_to render( partial: 'shared/mini_icon', object: 'close' ), '#', class: 'close' %></li>
    </ul>
    <h2><%= record_title @record %></h2>
    <%= image_tag "#{JSON.parse(@current_metadata['image'])[ 0 ]}?width=640", alt: '' %>
  </section>

  <% images = JSON.parse(@current_metadata['image']) %>
  <% if images.any? %>
    <section class="surrogates">
      <h2>Surrogates</h2>
      <% images.each_with_index do |image, i|%>
        <a href="<%= record_path @record %><%= "?image=#{i}" unless i == 0 %>"><img src='<%= image+'?width=128&height=128'%>' class='surrogate_thumbnail' alt=""></a>
      <% end %>
    </section>
  <% end %>
</article>
