
<script>
	$(document).ready(function(){
		<% image = params[:image].to_i || 0%>
		$('#add_record_to_tray').prependTo('header #secondary_nav');
		$('#annotation_toggle_wrapper').prependTo('header #secondary_nav');
		window.annotation.tag_selector();
		window.record.display('<%= JSON.parse(@record.parsed['image'])[image]%>');
		$('img.surrogate_thumbnail').each( function(i){
			$(this).click(function(e){
				window.location = "?image="+i
			});
		});
		<% if session[:user_id] %>
		window.trays.add_record([<%= params[:id] %>],<%= session[:user_id].to_i%>);
		window.record.update();
		<% end %>
	});
</script>

<% title eval(@record.parsed['title'])[0] %>

<nav id="secondary_nav">

	<% if session[:user_id] %>
		<form id='add_record_to_tray'>
			<select name='tray'>
				<option selected='true' disabled>SELECT TRAY</option>
				<option value='new_tray'>New Tray</option>
				<% User.find(session[:user_id]).trays.each do |tray| %>
				<option value='<%= tray.id%>'><%= tray.name %></option>
				<% end %>
			</select>
			<input name='new_tray' style='display: none'>
			<input type='submit' value="Add to Tray">
		</form>
	<% end %>

	<div id='annotation_toggle_wrapper'>
		<form>
			<label for='annotation_togle'>Show annotations</label>
			<input type='checkbox' id='annotation_toggle' checked>
		</form>
	</div>
</nav>

<div id='main-canvas'>
	
</div>

<div id='record-data'>
	<script>
		$(document).ready(function() {
			$('#parsed_record .key').parent().click(function(e) {
				$(this).next().find('.value').toggle();
			});
			$('#original_record *').show();
			$('#original_record>.key').next().hide();
			$('#original_record>.key').click(function(e) {
				$(this).next().toggle();
			});
		});
	</script>
	<nav>
		<% images= eval(@record.parsed['image']) %>
		<% images.each do |image|%>
		<img src='<%= image+'?width=10000&height=10000'%>' class='surrogate_thumbnail'>
		<% end %>
	</nav>
	<section>
		<%= print_hstore @record.parsed, 'printed_object', 'parsed_record' %>
		<%= print_json @record.original, 'printed_object', 'original_record' %>
	</section>
</div>
<div id='annotations'>
	<% if session[:user_id] %>
	<div id='record_annotate' class='window'>
		<h4 class='window_header'>ANNOTATE IMAGE</h4>
		<div class='window_body'>
			<div id='preview_window'></div>
			<%= form_for([@record, @record.annotations.build]) do |f| %>
				<%= f.fields_for :content do |content|%><br>
			    	<div>
			    		<%= content.label :title%><br>
			    		<%= content.text_field :title%>
			    	</div>
			    	<div>
			    		<%= content.label :body%><br>
			    		<%= content.text_area :body%>
			    	</div>
			    	<%= content.hidden_field :x, id: 'content_x'%>
			    	<%= content.hidden_field :y, id: 'content_y'%>
			    	<%= content.hidden_field :width, id: 'content_width'%>
			    	<%= content.hidden_field :height, id: 'content_height'%>
			    	<%= content.hidden_field :image_url, id: 'content_url'%>
			    <% end %>		
			<%= tag_selector @record.parsed %>
			<p>
				<%= f.submit %>
			</p>
			<% end %>
		</div>
	</div>
	<% end %>
	<div id='record_annotations'>
		<% @record.annotations.each do |annotation|%>
			<% if annotation.content %>
			<div class='annotation_wrapper' id='note_<%= annotation.id%>'>
				<p class='annotation_title'>
					<%= annotation.content['title'] %>
				</p>
				<p class='annotation_body'>
					<%= annotation.content['body'] %>
				</p>
				<%unless annotation.content['tags'].nil? %>
				<div class='annotation_tags'>
					<% annotation.content['tags'].each do |tag| %>
					<p class='annotation_tag'>
						<%= tag%>
					</p>
					<% end %>
				</div>
				<% end %>
				<p class='annotation_attribution'>
					by <%= annotation.user.name %> on <%= annotation.created_at %>
				</p>
			</div>
			<% end %>
		<% end %>
	</div>
</div>
