<script>
	$(document).ready(function(){
		window.record.display( '<%=eval(@record.parsed['image'])[0]%>' );
	});
</script>


<div id='main-canvas'>
</div>

<div id='record-data'>
	<script>
		$(document).ready(function(){
			$('.printed_object .key').parent().click(function(e){
				$(this).next().find('.value').toggle();
			});
		});
	</script>
 <%= print_hstore @record.parsed, 'printed_object', 'parsed_record' %>
 <%= print_json @record.original, 'printed_object', 'original_record' %>
</div>
<div id='annotations'>
	<div id='preview_window'></div>
	<%= form_for([@record, @record.annotations.build]) do |f| %>
	  <input name='content[title]'>
	  <textarea name='content[body]'></textarea>
	  <input type='hidden' name='content[x]'>
	  <input type='hidden' name='content[y]'>
	  <input type='hidden' name='content[width]'>
	  <input type='hidden' name='content[height]'>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
</div>