<div class="instructions"> Instructions for Import</div>
	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
				<%= link_to(image_tag("ic1.png", id: "hint_coll"), image_path("upload_01.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
				<li>Name of the collection</li>
				<li>A short description of the collection</li>
				<li>Who is currently hosting the data</li>
				<li>Collection data as a zipped folder of JSON files (1 per record)</li>
				<li>Paste sample of JSON data here</li>
				<li>A collapsable and draggable version of the JSON sample is shown here</li>
				<li>Curarium required Active Fields, must be populated</li>
				<li>Add Custom Active Fields*</li>
				<li>Upload and parse collection</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
					<%= link_to(image_tag("ic2.png", id: "hint_coll"), image_path("upload_02.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
				<li>Populate General Information</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
					<%= link_to(image_tag("ic3.png", id: "hint_coll"), image_path("upload_03.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
			<li> Upload zipped Json files (1 per record)</li>
			<li>Paste the contents of one sample JSON record</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
					<%= link_to(image_tag("ic4.png", id: "hint_coll"), image_path("upload_04.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
				<li>Click to Parse the record</li>
				<li>Structured representation of the record will appear in the central area</li>
				<li>Record keys: click on a key to hide or show its values</li>
				<li>Record value: marked in red, this information can be dragged to populate the Active fields</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
					<%= link_to(image_tag("ic5.png", id: "hint_coll"), image_path("upload_05.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>	
			<li> Value in the original record.</li>
			<li>Drag the value to its correspondent Active Field.</li>
			<li>Required Active Fields.</li>
			<li>Unique identifier: a value that is unique to this record in the content of its original collection.</li>
			<li>The title of the record.</li>
			<li>High resolution image(s) URL.</li>
			<li>Low resolution preview image URL.</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0">(treemap example)<tr>
			<td class="image_side">
					<%= link_to(image_tag("ic6.png", id: "hint_coll"), image_path("upload_06.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
			<li> Name of the Active Field (“title”)</li>
			<li>Path to the corresponding field within JSON representation (“titleInfo[0].recordIdentifier[0].content”)</li>
			<li>Sample value being extracted from this record.</li>
			<li>When an array index is part of the path, it can be replaced by a wildcard to iterate through all objects in the array instead (assigns multiple values to the Active Field)</li>
			<li>Sample now shows multiple values</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
					<%= link_to(image_tag("ic7.png", id: "hint_coll"), image_path("upload_07.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
			<li> Value being added to a custom Active Field</li>
			<li>Drag to the corresponding custom field</li>
			<li>Custom Active Field name</li>
			<li>Remove field if necessary.</li>
			<li>Add another custom field</li>
			</ol></td></tr>
		</table>
	</div>

	<div class="imp_list" id="imp_list">
		<table class="impitem" cellspacing="0" cellpadding="0"><tr>
			<td class="image_side">
					<%= link_to(image_tag("ic8.png", id: "hint_coll"), image_path("upload_08.jpg"), :target => "_blank") %>
			</td>
			<td class="text_side"><ol>
			<li> Once all fields have been configured, click Upload Collection to begin importing the data.</li>
			<li>As long as the data structure is consistent for all JSON files, each one will be parsed to an equivalent of the sample values on the right side. Original JSON data will also be stored for reference.</li>
			</ol></td></tr>
		</table>
	</div>
	