<%= form_for(@spotlight) do |f| %>
  <% if @spotlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>

      <ul>
      <% @spotlight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :type %><br>
    <%= select_tag(:type, options_for_select([['article','article'],['canvas','canvas'],['slideshow','slideshow']],'article')) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :records %><br>
    <%= f.number_field :records %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
