<%= form_for(@spotlight) do |f| %>
<% if @spotlight.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@spotlight.errors.count, "error") %> prohibited this spotlight from being saved:</h2>

	<ul>
		<% @spotlight.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="titlebar bord">
	<%= f.text_field :title, placeholder:"Enter spotlight title", class:"text" %>
</div>

<!-- ><div class="field">
<%= f.label :type %>
<%= select_tag(:type, options_for_select([['article','article'],['canvas','canvas'],['slideshow','slideshow']],'article')) %>
</div> -->

<div class="field">
	<%= render "shared/toolbar"%>
	<%= f.text_area :body, placeholder: 'Spotlight body...' %>
</div>

<div class="titlebar bord">
	Components
</div>
<div id='spotlight_components' class="noscroll">
	Components go here
</div>
<div class="actions">
	<%= f.submit 'Publish', class: 'button' %>
</div>
<% end %>

<!-- END subtitle -->

<script type='text/javascript'>
	window.onload = function() {
		var editor = new wysihtml5.Editor("spotlight_body", {
			toolbar : "toolbar",
			parserRules : ruleset
		});
	}; 
</script>

