<!-- BEGIN SUB MENU  (this will maybe become a partial)-->	
<div class="SUB_MENU">
  <!-- Remove order-by buttons until functionality is decided #9731
  <div class="right">
    <div class="orderby"><span>Order:</span><span><%= image_tag "clock_r.png", alt: '' %><%= image_tag "up_r.png", alt: '' %><%= image_tag "down_r.png", alt: '' %></span></div>
  </div>-->
</div>
<!-- END SUB MENU -->	

<div class="expandable">
  <h1 class="collection-header">Spotlights</h1>

  <%= link_to 'Click for instructions', '/help', target:"_blank" %>

  <!-- BEGIN GALLERY -->	     
  <div class="GALLERY spotlight-gallery">
    <% @spotlights.each do |spotlight| %>
      <%= render :partial => 'shared/print_item', :locals=>{:item=>spotlight} %>
    <% end %>

    <% if authenticated? %>
    <div class="gallery_item">
      <div class="createnew"> <%= link_to 'New Spolight', Waku::URL %> </div>
    </div>
    <% end %>
          
  </div>
  <!-- END GALLERY -->  

</div>
