<% @spotlights.each do |spotlight| %>
      <div class='curarium_collection'>
        <h3><%= link_to spotlight.title, spotlight %></h3>
        <p>
        	<% text = spotlight.body %>
			  <% if text.match /\<(\d)\>/ %>
			  <%= truncate(text.gsub!(/\<(\d)\>/, "(see figure \\1)"), length: 256) %>
			  <% else %>
			  <%= truncate(text, length: 256) %>
			  <% end %>
        	
        	</p>
        <% if spotlight.user_id == session[:user_id]%>
        <p><%= link_to 'Edit', edit_spotlight_path(spotlight) %></p>
        <p><%= link_to 'Destroy', spotlight, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <%end%>
      </div>
    <% end %>

<br>
<p><%= link_to 'New Spolight', new_spotlight_path %></p>