<!--- BEGIN SUB MENU  (this will maybe become a partial)--->	
<div class="SUB_MENU">
  <div class="expandable">
    Active Collection: 
    <span class="active_collection">Homeless Paintings</span>
  </div>
  <div class="right">
    <div class="orderby"><span>Order:</span><span><%= image_tag "clock_r.png" %><%= image_tag "up_r.png" %><%= image_tag "down_r.png" %></span></div>
    </div>
 </div>
<!--- END SUB MENU --->	

<!--- BEGIN GALLERY --->	     
<div class="GALLERY">
  <% @spotlights.each do |spotlight| %>
      <%= print_item(spotlight) %>
  <% end %>
  <div class="gallery_item">
      <div class="createnew"> <%= link_to 'New Spolight', new_spotlight_path %> </div>
  </div>
	      
</div>
<!--- END GALLERY --->  
