<h1>Listing spotlights</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Type</th>
      <th>Records</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spotlights.each do |spotlight| %>
      <tr>
        <td><%= spotlight.title %></td>
        <td><%= spotlight.body %></td>
        <td><%= spotlight.type %></td>
        <td><%= spotlight.records %></td>
        <td><%= link_to 'Show', spotlight %></td>
        <td><%= link_to 'Edit', edit_spotlight_path(spotlight) %></td>
        <td><%= link_to 'Destroy', spotlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spotlight', new_spotlight_path %>
