<!-- BEGIN SUB MENU  (this will maybe become a partial)-->	
<div class="SUB_MENU">
  <div class="expandable">
    <a href="https://docs.google.com/presentation/d/17YP5uBd0_om-chTPQk25tIA0Nx1Cgob3VLy9-PzKaAI/edit?usp=sharing" target="_blank">Click for instructions</a>
  </div>

  <!-- Remove order-by buttons until functionality is decided #9731
  <div class="right">
    <div class="orderby"><span>Order:</span><span><%= image_tag "clock_r.png", alt: '' %><%= image_tag "up_r.png", alt: '' %><%= image_tag "down_r.png", alt: '' %></span></div>
  </div>-->
</div>
<!-- END SUB MENU -->	

<!-- BEGIN GALLERY -->	     
<div class="GALLERY">
  <% @spotlights.each do |spotlight| %>
      <%= render :partial => 'shared/print_item', :locals=>{:item=>spotlight} %>
  <% end %>
  <div class="gallery_item">
      <div class="createnew"> <%= link_to 'New Spolight', new_spotlight_path %> </div>
  </div>
	      
</div>
<!-- END GALLERY -->  
