<script>
  window.onload = function() {
    window.spotlights.components = [];
    window.trays.show();
    window.spotlights.create();
  };
</script>

<!-- BEGIN SUB MENU -->
<div class="SUB_MENU bubble_menu">
	<div class="titlebar main bord">
		<%= image_tag "spotlight_r.png" %>Spotlight Editor <!--<%= link_to 'Back', spotlights_path %>-->
	</div>

</div><!--- END SUB MENU -->

<div class="spotlight_viewedit">

	<div class="viewer">
		<%= render 'form' %>
	</div>

	<div id="user_trays" class="reference">
		<div class="titlebar bord">
			Your Trays
		</div>
		<div id="subtitle" ></div>
		<div id='trays_wrapper'>
			<% User.find(session[:user_id]).trays.each do |tray|%>
			<div class='user_tray noscroll'>
				<h3><%= tray.name %></h3>
				<div class='close_tray'></div>
				<h4>Records:</h4>
				<div class='tray_records'>
					<% tray.records.each do |record|%>
					<% @record = Record.find(record) %>
					<%= render 'records/thumb', locals: {record: @record} %>
					<% end %>
				</div>
				<h4>Visualizations:</h4>
				<div class='tray_visualizations'>
					<% tray.visualizations.each do |visualization|%>
					<div class='visualization_preview' data-type='visualization' data-body='<%= visualization.to_json%>'>
						<p>
							type:<%= visualization['terms']['type']%>
						</p>
						<p>
							property:<%= visualization['terms']['property']%>
						</p>
						<p>
							include:<%= visualization['terms']['include']%>
						</p>
						<p>
							exclude:<%= visualization['terms']['exclude']%>
						</p>
					</div>
					<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
