<!-- BEGIN SUB MENU -->	
<div class="SUB_MENU bubble_menu">
			<div class="titlebar main bord"><%= image_tag "spotlight_r.png" %>Spotlight Viewer</div>
			
</div><!-- END SUB MENU -->	



<div class="spotlight_viewedit">
	 
	<div class="viewer">
		<div class="titlebar bord"><%= title @spotlight.title %></div>
				<div id="subtitle" >by <%= link_to @spotlight.user.name, @spotlight.user %> on <%=@spotlight.created_at.strftime("%d %b %y")%></div>
		<div class="scroll">
			  <% text = @spotlight.body %>
			  <% if text.match /\<(\d+)\>/ %>
			  <%= raw(text.gsub! /\<(\d+)\>/, "<a href='#spotlight_reference_\\1'>(see figure \\1)</a>") %> <!-- BACKWARDS COMPATIBILITY -->
			  <% elsif text.match /\{(\d+)\}/ %>
			  <%= raw(text.gsub! /\{(\d+)\}/, "<a href='#spotlight_reference_\\1'>(see figure \\1)</a>") %> 
			  <% else %>
			  <%= raw text %>
			  <% end %>
		</div>
	</div>
	<div id='spotlight_references'>
		<div class="titlebar bord">References</div>
		<div id='references_wrapper'>
			<% if @spotlight.components%>
			 <% @spotlight.components.each_with_index do |c,i|%>
			  <div id='spotlight_reference_<%=i%>' class="reference">
			
			  <div class="scroll">
			  	<% if c['type'] == 'work' %>
            <a href='<%= work_path Work.find( c['id'] ) %>' target='_blank'><div style="background-image:url('<%= thumb_record_path Work.find( c['id'] ) %>')"></div></a>
			  	<% elsif c['type'] == 'annotation' %>
			  		<a href='<%= work_path Work.find( c['id'] ) %>' target='_blank'><div id='annotation_wrapper_<%=i%>' ></div></a>
			  		<script>
              window.onload = function() {
                window.spotlights.display_annotation('annotation_wrapper_<%=i%>', <%= raw(c['content'].to_json) %>);
              };
			  		</script>
			  	<% elsif c['type'] == 'visualization' %>
			  		<a href="<%=c['body']['url']%>" target='_blank'><div class='visualization_component'></div></a>
            <!-- TODO: window.visualization JavaScript call removed; use _vis partials, see #9466 -->
			  	<% end %>
			  	</div>
			  </div>
			  <% end %>
			<% end %>
		</div>
	</div>
</div>
