<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @spotlight.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @spotlight.body %>
</p>

<p>
  <strong>Type:</strong>
  <%= @spotlight.type %>
</p>

<p>
  <strong>Attached:</strong>
  <%= @spotlight.components.each do |c|%>
  	<h4><%=c['title']%></h4>
  	<a href='/records/<%=c['id']%>?image=<%=c['surrogate']%>' target='_blank'><img src='<%=c['image']%>'></a>
  <% end %>
</p>

<%= link_to 'Edit', edit_spotlight_path(@spotlight) %> |
<%= link_to 'Back', spotlights_path %>
