<% content_for :main_class, raw("class='no-secondary-nav'") %>
<div id='spotlight_text'>
	<h2 id='spotlight_title'><%= title @spotlight.title %></h2>
	<p>by <%= link_to @spotlight.user.name, @spotlight.user %> on <%=@spotlight.created_at%></p>
	<br>
	<p id='spotlight_body'>
	  <% text = @spotlight.body %>
	  <% if text.match /\<(\d+)\>/ %>
	  <%= raw(text.gsub! /\<(\d+)\>/, "<a href='#spotlight_reference_\\1'>(see figure \\1)</a>") %>
	  <% else %>
	  <%= text %>
	  <% end %>
	</p>
	<% if @spotlight.user_id == session[:user_id]%>
	<%= link_to 'Edit', edit_spotlight_path(@spotlight) %> |
	<%= link_to 'Back', spotlights_path %>
	<% end %>
</div>
<% if @spotlight.components%>

<div id='spotlight_references'>
  <h3>References:</h3>
  <div id='references_wrapper'>
  <% @spotlight.components.each_with_index do |c,i|%>
  <div id='spotlight_reference_<%=i%>' class='spotlight_reference'>
  <h4><%=i%>.-<%=c['title']%></h4>
  	<% if c['type'] == 'record' %>
  		<a href='/records/<%=c['id']%>?image=<%=c['surrogate']%>' target='_blank'><div style='background-image:url(<%=c['image']%>)'></div></a>
  	<% elsif c['type'] == 'annotation' %>
  		<a href='/records/<%=c['id']%>?image=<%=c['surrogate']%>' target='_blank'><div id='annotation_wrapper_<%=i%>' ></div></a>
  		<script>
  			window.spotlights.display_annotation('annotation_wrapper_<%=i%>', <%= raw(c['content'].to_json) %>)
  		</script>
  	<% elsif c['type'] == 'visualization' %>
  		<!--
  		<%# @visualization = { type: c['body']['terms']['type'], url: c['body']['url']}%>
  		<%# render partial: 'shared/embed', locals: {visualization: @visualization}%>
  		-->
  		<a href="<%=c['body']['url']%>" target='_blank'><div class='visualization_component'></div></a>
  		<script type="text/javascript">
  			window.visualization['<%=c['body']['terms']['type']+'_embedded'%>']('spotlight_reference_<%=i%> .visualization_component', "<%=c['body']['url']%>");
  		</script>
  	<% end %>
  </div>
  <% end %>
  </div>
</div>
 <% end %>

