<div class="well droppable" data-field="<%= config_field.name %>"> 
  <% if !config_field.special %>
    <button type="button" class="close remove-field" aria-label="Remove" title="Remove"><span aria-hidden="true">&times;</span></button>
  <% end %>
  <input type="hidden" name="<%= config_field.name %>" value="<%= value %>" class="field-input">
  <b><%= config_field.display_name %></b>
  <div class="drop-data"><%= JSON.parse( value ).join ',' unless value.to_s == '' %></div>
  <div class="example"></div>
</div>
