<%= form_for( [ @work, @annotation ]) do |f| %>
  <div class="field">
    <div>
      <%= f.label :title%><br>
      <%= f.text_field :title%>
    </div>
    <div>
      <%= f.label :body%><br>
      <%= f.text_area :body%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
