<%= form_for(@annotation) do |f| %>
  <div class="field">
    <%= f.fields_for :content do |content|%><br>
    	<div>
    		<%= content.label :title%><br>
    		<%= content.text_field :title%>
    	</div>
    	<div>
    		<%= content.label :body%><br>
    		<%= content.textarea :body%>
    	</div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
