<% if @xhr %>
<section class="annotation-xhr" data-action-item-type="<%= @popup_action_type %>" data-action-item-id="<%= @popup_action_item_id %>">
  <ul class="popup-commands">
    <li>
      <%= link_to render( partial: 'shared/mini_icon', object: 'close' ), '#', class: 'close' %>

    </li>
  </ul>
<% end %>

<div class="left">
  <div class="holder col-sidebar">
    <div class="titlebar main">Annotation</div>
    <%= render partial: 'thumbnail', object: @annotation %>
    <div class="stalking_menu_holder">
      <div class="stalking_menu">
        <%= link_to 'View Record', work_path( @work ), class: 'show-annotation-work' unless @xhr %>

        <% if authenticated? %>
          <% if @annotation.user == @current_user %>
            <%= link_to 'Edit Annotation', edit_work_annotation_path( @work, @annotation ), class: 'edit-annotation' %>

            <%= form_for( [ @work, @annotation ], html: { method: :delete } ) { |f| %>
              <a href="javascript:void(0);" class="delete-annotation">Delete Annotation</a>
            <% } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="expandable">
  <h1 class="collection-header"><%= @annotation.title %></h1>

  <dl>
    <dt>Created on:</dt> <dd><%= @annotation.created_at %></dd>
  </dl>

  <p><%= @annotation.body %></p>
</div>

<% if @xhr %>
</section>
<% end %>
