<div class="row">
  <div class="col-sm-4">
    <h3 class="h5 page-header">About Privacy</h2>

    <dl>
      <dt>private</dt>
      <dd>
        <ul>
          <li>invited users can view this circle</li>
          <li>invited users can join this circle</li>
        </ul>
      </dd>

      <dt>community</dt>
      <dd>
        <ul>
          <li>all users can view this circle</li>
          <li>invited users can join this circle</li>
        </ul>
      </dd>

      <dt>public</dt>
      <dd>
        <ul>
          <li>all users can view this circle</li>
          <li>signed-in users can join this circle</li>
        </ul>
      </dd>
    </dl>
  </div>

  <div class="col-sm-8">
    <%= semantic_form_for @circle do |f| %>

      <%= f.semantic_errors :circle %>

      <%= f.inputs { %>
        <%= f.input :title %>
        <%= f.input :privacy, as: :select, collection: [ 'private', 'community', 'public' ] %>
        <%= f.input :users, as: :check_boxes, collection: User.where.not( id: current_user.id ) %>
        <%= f.input :description, as: :text, input_html: { cols: 40, rows: 10 } %>
      <% } %>

      <%= f.actions { %>
        <%= f.action :submit, button_html: { class: 'btn btn-default' } %>
      <% } %>

    <% end %>
  </div>
</div>
