<div class="left">
  <div class="holder col-sidebar">
    <div class="titlebar main">Circle</div>
    <%= render partial: 'thumbnail', object: @circle %>
    <div class="stalking_menu_holder">
      <div class="stalking_menu">
        <% if authenticated? %>
          <% if @circle.admin == @current_user %>
            <%= link_to 'Edit Description', edit_circle_path( @circle ), class: 'edit-circle' %>

            <%= form_for( @circle, html: { method: :delete } ) { |f| %>
              <a href="javascript:void(0);" class="delete-circle">Delete Circle</a>
            <% } %>
          <% else %>
            <% if @circle.users.include? @current_user %>
              <%= form_for( @circle, url: leave_circle_path( @circle ), html: { method: :put } ) { |f| %>
                <a href="javascript:void(0);" class="leave-circle">Leave Circle</a>
              <% } %>
            <% else %>
              <%= form_for( @circle, url: join_circle_path( @circle ), html: { method: :put } ) { |f| %>
                <a href="javascript:void(0);" class="join-circle">Join Circle</a>
              <% } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="expandable">
  <h1 class="collection-header"><%= @circle.title %> &ndash; <%= @circle.privacy.camelcase %></h1>

  <dl>
    <dt>Created by:</dt> <dd><%= @circle.admin.name %></dd>
    <dt>Created on:</dt> <dd><%= @circle.created_at %></dd>
    <dt>Members:</dt> <dd><%= @circle.users.count %></dd>
  </dl>

  <p><%= @circle.description %></p>

  <section class="circle-trays">
    <h1 class="collection-header">Recent Trays</h1>

    <%= render partial: 'trays/tray_preview_gallery', object: @circle.trays.limit(2) %>

    <%= link_to raw( '<h2>Tray Manager</h2>' ), circle_trays_path( @circle ), { title: 'Manage all trays' } %>
  </section>

  <% if @circle.users.include? @current_user %>
  <section class="circle-collections">
    <h1 class="collection-header">Collections</h1>

    <div class="GALLERY">
      <%= render partial: 'collections/thumbnail', collection: @circle.collections %>

      <% if @circle.admin == @current_user %>
      <%= render( partial: 'shared/newnail', object: Collection, locals: { verb: :add } ) %>

      <div id="circle-collections-popup" class="ccs-popup">
        <h1>Available Collections</h1>

        <%= form_for( @circle, url: addcol_circle_path( @circle ), html: { method: :put } ) { |f| %>
          <%= f.hidden_field :collections, value: nil %>
          <% Collection.where.not( id: @circle.collections.pluck( :id ) ).each { |c| %>
            <button type="submit" data-collection-id="<%= c.id %>" class="ccs-button"><%= c.name %></button>
          <% } %>
        <% } %>
      </div>
      <% end %>
    </div>
  </section>
  <% end %>
</div>

<div class="right">
  <div class="holder activity">
    <h1 class="titlebar">Activity</h1>

    <%= render @circle.activities %>

    <%= form_for [ @circle, Activity.new ], url: circle_activities_path( @circle ), method: :post do |f| %>
      <%= f.hidden_field :activitiable_id, value: @circle.id %>
      <%= f.hidden_field :activitiable_type, value: 'Circle' %>
      <%= f.hidden_field :activity_type, value: 'message' %>
      <%= f.text_field :body, placeholder: 'Post a message' %>
      <%= f.button 'create', type: 'submit', name: nil %>
    <% end %>
  </div>

  <div class="holder members">
    <h1 class="titlebar">Members</h1>

    <ul>
    <% @circle.users.each { |u| %>
      <li><%= link_to render( partial: 'shared/mini_icon', object: 'user', locals: { icon_title: u.name } ), user_path( u ) %></li>
    <% } %>
    </ul>

  </div>
</div>

