<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'logo-01.png' %>

		<title>Curarium<%= yield(:title) || "Home" %></title>

		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= csrf_meta_tags %>
	</head>

  <body class="<%= "#{params[ :controller ]} #{params[ :action ]}" %>">
	  <% if (params[:controller] == 'home' and action_name == 'about') or ( params[:controller] == 'collections' and action_name == 'show') %>
	    <!-- RANDOM IMAGE HEADER -->
	    <% if @work.present? && @work.images.any? %>
	      <div class="about_header_lines" style="background: url('<%= @work.images.first %>') repeat center center; "></div>
      <% end %>
    <% end %>
	  <div class="GLOBAL_HOLDER">
	    <%= render 'shared/header'%>
	    <%= yield %>
	      
	    <% if (params[:controller] == 'works' and action_name == 'show') %>
	      <!-- BEGIN WORK HOLDER -->	
		    <div  id='main-canvas' class="WORK"></div>
	      <!-- END WORK HOLDER -->
		<% elsif (params[:controller] == 'spotlights' and (action_name == 'new' || action_name == 'edit' || action_name == 'show' )) %>
		<% else %>
		<%= render 'shared/footer'%>      
	    <% end %>
	  </div>

		<%= javascript_include_tag "application" %>
	</body>
</html>
