<!DOCTYPE html>
<html>
	<head>
		<title>Curarium - <%= yield(:title) || "Home" %></title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<script type='text/javascript'>
			$(document).ready(function(){
				setTimeout(global_function,1000); //extremely ugly hack
			});
		</script>
	</head>
	<body>
	  <div class="menulines"></div>
	  <% if (params[:controller] == 'home' and action_name == 'about') or ( params[:controller] == 'collections' and action_name == 'show') %>
	    <!-- RANDOM IMAGE HEADER -->
	    <div class="about_header_lines" style="background: url('<%= JSON.parse(@record.parsed['image'])[0]%>') repeat center center; "></div>
	  <% end %>
	  <div class="GLOBAL_HOLDER">
	    <%= render 'shared/header'%>
	    <%= yield %>
	      
	    <% if (params[:controller] == 'visualizations' and action_name == 'index') %>
	      <!--- BEGIN VISUALIZATION HOLDER --->	
		<div class="EXPLORE" id='visualization_container'></div>
	      <!--- END VISUALIZATION HOLDER --->
	    <% elsif (params[:controller] == 'records' and action_name == 'show') %>
	      <!--- BEGIN RECORD HOLDER --->	
		  <div  id='main-canvas' class="RECORD" style="background: url('img/records/record.jpg') no-repeat center;"></div>
	      <!--- END RECORD HOLDER --->
	    <% elsif (params[:controller] == 'spotlights' and (action_name == 'new' || action_name == 'edit' || action_name == 'show' )) %>
	      
	    <% else %>
	      <%= render 'shared/footer'%>
	    <% end %>
	  </div>
	</body>
</html>
