<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    	<%= favicon_link_tag 'logo-01.png' %>
		<title>Curarium<%= yield(:title) || "Home" %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= csrf_meta_tags %>
	</head>

  <body class="<%= "#{params[ :controller ]} #{params[ :action ]}" %>">
	  <div class="menulines"></div>
	  <% if (params[:controller] == 'home' and action_name == 'about') or ( params[:controller] == 'collections' and action_name == 'show') %>
	    <!-- RANDOM IMAGE HEADER -->
	    <% if @work.present? && JSON.parse(@work.parsed['image']).present? %>
	      <div class="about_header_lines" style="background: url('<%= JSON.parse(@work.parsed['image'])[0]%>') repeat center center; "></div>
      <% end %>
    <% end %>
	  <div class="GLOBAL_HOLDER">
	    <%= render 'shared/header'%>
	    <%= yield %>
	      
	    <% if (params[:controller] == 'works' and action_name == 'show') %>
	      <!-- BEGIN RECORD HOLDER -->	
		    <div  id='main-canvas' class="RECORD"></div>
	      <!-- END RECORD HOLDER -->
		<% elsif (params[:controller] == 'spotlights' and (action_name == 'new' || action_name == 'edit' || action_name == 'show' )) %>
		<% else %>
		<%= render 'shared/footer'%>      
	    <% end %>
	  </div>

		<%= javascript_include_tag "application" %>
	</body>
</html>
