<!DOCTYPE html>
<html>
	<head>
		<title>Curarium - <%= yield(:title) || "Home" %></title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
		<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<section id='main'  <%= yield :main_class %> >
			<%= yield %>
		</section>
		<%= render 'shared/header'%>
	</body>
</html>
